<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/results/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Wszystkie wyniki testów</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testsPage.content.length == 0" class="list-group-item">
                            <p class="list-group-item-text">
                                Brak dostępnych wyników testów
                            </p>
                        </li>
                        <li ng-show="testsPage.content.length > 0" ng-repeat="test in testsPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{test.name}}
                                    </h4>
                                    <div class="list-group-item-text">
                                        <p class="dashboard-group-title" ng-show="test.testGroup">
                                            {{test.testGroup.name}}
                                        </p>
                                        <p class="dashboard-group-title" ng-hide="test.testGroup">
                                            Test jest dostępny w wielu grupach
                                        </p>
                                        <span>
                                            Data aktywacji testu:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Limit czasu rozwiązywania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                brak limitu
                                            </strong>
                                            <br>
                                            Liczba ocenionych testów / wszytkich zdających:
                                            <strong>
                                                {{test.testAnswersChecked}} / {{test.studentsCount}}
                                            </strong>
                                        </span>
                                    </div>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center">
                                    <a href="#/examiner/tests/{{test.id}}/results" class="btn btn-primary group-options-button">
                                        Wyniki testów
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testsPage.first}" >
                                <a href="#/examiner/results" ng-click="getTestsPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testsPage.totalPages] | range" ng-class="{'active': pageNumber == (testsPage.number + 1)}">
                                <a href="#/examiner/results" ng-click="getTestsPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsPage.last}">
                                <a href="#/examiner/results" ng-click="getTestsPage(testsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>