<h2>Wyniki testów</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/examiner/tests/{{test.id}}/results" ng-repeat="test in $parent.testsPage.content" class="list-group-item" ng-class="{'active': $parent.test.id == test.id}">
            <span class="badge">
                {{test.testAnswersChecked}} / {{test.studentsCount}}
            </span>
            {{test.name}}
        </a>
        <a ng-show="$parent.testsPage.totalPages > 1" href="#/examiner/results" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie wyniki testów
            </p>
        </a>
    </div>
</div>