<form class="form-horizontal" ng-submit="login()">
    <div class="modal-header">
        <h4 class="modal-title">Logowanie do ExamSystem</h4>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <p class="text-primary col-lg-12">Proszę podać dane logowania z systemu Orion LDAP</p>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError}">
                <label for="username" class="col-lg-2 control-label">Użytkownik</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" ng-model="$parent.username" placeholder="">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError}">
                <label for="password" class="col-lg-2 control-label">Hasło</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" ng-model="$parent.password" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="role" class="col-lg-2 control-label">Uprawnienia</label>
                <div class="col-lg-10">
                    <select class="form-control" id="role" ng-model="$parent.role">
                        <option value="STUDENT" selected>Student</option>
                        <option value="EXAMINER">Egzaminator</option>
                        <option value="ADMIN">Administrator</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <input type="reset" class="btn btn-default" value="Wyczyść">
        <input type="submit" class="btn btn-primary" value="Zaloguj">
    </div>
</form>