<div class="login-box">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="bs-component">
                <div class="modal">
                    <div class="modal-dialog">
                        <div class="alert alert-danger" ng-show="hasError" ng-bind="error"></div>
                        <div class="modal-content" ng-include="'templates/login/login-form.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>