<h2>Wyniki testów</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>
                {{$parent.test.name}}
            </strong>
        </div>
        <div class="list-group-item text-center" ng-show="$parent.testAnswersPage.content.length == 0">
            Brak wyników testów w wybranej grupie
        </div>
        <a ng-repeat="testAnswer in $parent.testAnswersPage.content" href="#/examiner/tests/{{$parent.test.id}}/students/{{testAnswer.student.id}}/results/points" class="list-group-item" ng-class="{'active': testAnswer.student.id == $parent.student.id}">
            {{testAnswer.student.name}} {{testAnswer.student.surname}}
        </a>
        <a ng-show="$parent.testAnswersPage.totalPages > 1" href="#/examiner/tests/{{$parent.test.id}}/results" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkich studentów
            </p>
        </a>
    </div>
</div>