<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/results/student/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Grupa testowa</td>
                                <td ng-show="testGroup">
                                    {{testGroup.name}}
                                </td>
                                <td ng-hide="testGroup">
                                    Test jest dostępny w wielu grupach
                                </td>
                            </tr>
                            <tr>
                                <td>Data rozpoczęcia testu</td>
                                <td>
                                    {{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Limit czasu rozwiązywania testu</td>
                                <td	ng-show="test.hasTimeLimit">
                                    {{test.timeLimit | minutesToString}}
                                </td>
                                <td	ng-show="!test.hasTimeLimit">
                                    brak limitu
                                </td>
                            </tr>
                            <tr>
                                <td>Student wypełniający test</td>
                                <td>{{student.name}} {{student.surname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-9 vcenter">
                        <h3 class="question-header">
                            Liczba zdobytych punktów
                        </h3>
                    </div><!--
				 --><div class="col-lg-3 vcenter text-center">
                        <strong>
                            {{testAnswer.points}} pkt. / {{testAnswer.maxPoints}} pkt. ({{ testAnswer.pointsPercentage }}%)
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress">
                            <div class="progress-bar" ng-class="testAnswer.pointsBarClass" ng-style="testAnswer.pointsBarStyle"></div>
                        </div>
                    </div>
                </div>
                <h3>Liczba punktów przyznanych za poszczególne pytania</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in questionAnswersMap | orderBy:'question.positionInSequence'">
                        <div class="row">
                            <div class="col-lg-2 question-result-points-header">
                                Pytanie {{item.question.positionInSequence}}
                                <span ng-show="debugMode">
                                    [p:{{item.question.position}}, id:{{item.question.id}}]
                                </span>
                            </div><!--
                         --><div class="col-lg-4">
                                <div ng-show="item.questionAnswer">
                                    <div class="progress question-result-points-progress">
                                        <div class="progress-bar" ng-class="item.questionAnswer.pointsBarClass" ng-style="item.questionAnswer.pointsBarStyle"></div>
                                    </div>
                                </div>
                                <div ng-show="!item.questionAnswer" class="question-result-points-no-answer">
                                    brak przesłanej odpowiedzi
                                </div>
                            </div><!--
                         --><div class="col-lg-3 text-center question-result-points">
                                <div ng-show="item.questionAnswer">
                                    <p ng-class="item.questionAnswer.textClass">
                                        {{item.questionAnswer.points}} pkt. / {{item.question.maxPoints}} pkt. ({{item.questionAnswer.pointsPercentage}}%)
                                    </p>
                                </div>
                                <div ng-show="!item.questionAnswer">
                                    <p ng-class="item.questionAnswer.textClass">
                                        0 pkt. / {{item.question.maxPoints}} pkt. (0%)
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 text-center">
                                <a href="#/examiner/tests/{{test.id}}/students/{{student.id}}/questions/{{item.question.id}}/results" class="btn btn-primary" ng-show="item.questionAnswer">
                                    Szczegóły
                                </a>
                                <button class="btn btn-primary" ng-hide="item.questionAnswer" disabled>
                                    Szczegóły
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/examiner/tests/{{test.id}}/students/{{student.id}}/results/times" class="btn btn-primary group-options-button">
                            Sprawdź czas rozwiązywania testu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>