<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/results/student/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Grupa testowa</td>
                                <td ng-show="testGroup">
                                    {{testGroup.name}}
                                </td>
                                <td ng-hide="testGroup">
                                    Test jest dostępny w wielu grupach
                                </td>

                            </tr>
                            <tr>
                                <td>Data rozpoczęcia testu</td>
                                <td>
                                    {{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Limit czasu rozwiązywania testu</td>
                                <td	ng-show="test.hasTimeLimit">
                                    {{test.timeLimit | minutesToString}}
                                </td>
                                <td	ng-show="!test.hasTimeLimit">
                                    brak limitu
                                </td>
                            </tr>
                            <tr>
                                <td>Student wypełniający test</td>
                                <td>{{student.name}} {{student.surname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-9 vcenter">
                        <h3 class="test-result-header">
                            Całkowity czas uzupełniania testu
                        </h3>
                    </div><!--
				 --><div class="col-lg-3 vcenter text-center">
                    <strong ng-show="test.hasTimeLimit">
                        {{testAnswer.timeSpentHours | minLength:2}}:{{testAnswer.timeSpentMinutes | minLength:2}}:{{testAnswer.timeSpentSeconds | minLength:2}} h / {{test.timeLimitHours | minLength:2}}:{{test.timeLimitMinutes | minLength:2}}:{{test.timeLimitSeconds | minLength:2}} h
                    </strong>
                    <strong ng-show="!test.hasTimeLimit">
                        {{testAnswer.timeSpentHours | minLength:2}}:{{testAnswer.timeSpentMinutes | minLength:2}}:{{testAnswer.timeSpentSeconds | minLength:2}} h
                    </strong>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress" ng-show="test.hasTimeLimit">
                            <div class="progress-bar" ng-class="testAnswer.timeSpentBarClass" ng-style="testAnswer.timeSpentBarStyle"></div>
                        </div>
                        <span ng-show="!test.hasTimeLimit">
                            Brak limitu czasowego na uzupełnienie całego testu
                        </span>
                    </div>
                </div>
                <h3>Czas odpowiedzi na poszczególne pytania</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in questionAnswersMap | orderBy:'question.positionInSequence'">
                        <div class="row">
                            <div class="col-lg-3 question-result-times-header">
                                Pytanie {{item.question.positionInSequence}}
                                <span ng-show="debugMode">
                                    [p:{{item.question.position}}, id:{{item.question.id}}]
                                </span>
                            </div><!--
                         --><div class="col-lg-6 question-result-times-limit">
                                <div ng-show="item.questionAnswer">
                                    <div class="progress question-result-times-progress" ng-show="item.question.hasTimeLimit">
                                        <div class="progress-bar" ng-class="item.questionAnswer.timeSpentBarClass" ng-style="item.questionAnswer.timeSpentBarStyle"></div>
                                    </div>
                                    <span ng-show="!item.question.hasTimeLimit">
                                        brak limitu czasowego na uzupełnienie pytania
                                    </span>
                                </div>
                                <div ng-show="!item.questionAnswer">
                                    brak przesłanej odpowiedzi
                                </div>
                            </div><!--
                         --><div class="col-lg-3 question-result-times-spent">
                                <div ng-show="item.questionAnswer">
                                    <span ng-show="item.question.hasTimeLimit">
                                        {{item.questionAnswer.timeSpentMinutes | minLength:2}}:{{item.questionAnswer.timeSpentSeconds | minLength:2}} min / {{item.question.timeLimitMinutes | minLength:2}}:{{item.question.timeLimitSeconds | minLength:2}} min
                                    </span>
                                    <span ng-show="!item.question.hasTimeLimit">
                                        {{item.questionAnswer.timeSpentMinutes | minLength:2}}:{{item.questionAnswer.timeSpentSeconds | minLength:2}} min
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/examiner/tests/{{test.id}}/students/{{student.id}}/results/points" class="btn btn-primary group-options-button">
                            Powrót do wyników testu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>