<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa grupy</td>
                                <td>
                                    {{testGroup.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>Egzaminator</td>
                                <td>
                                    {{testGroup.examiner.name}} {{testGroup.examiner.surname}}
                                </td>
                            </tr>
                            <tr>
                                <td>Data dodania do grupy</td>
                                <td>
                                    {{testGroup.studentTestGroup.joinDate | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <a href="#/student/test-groups/{{testGroup.id}}/tests" class="btn btn-primary group-options-button">
                            Pokaż wszystkie testy
                        </a>
                        <a href="#/student/test-groups/{{testGroup.id}}/leave" class="btn btn-danger">
                            Opuść grupę
                        </a>
                    </div>
                </div>
                <h2>Nadchodzące testy ({{associatedTests.totalElements}})</h2>
                <div class="bs-component">
                    <ul ng-show="associatedTests.content.length == 0" class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-12 vcenter">
                                    <p class="list-group-item-text">
                                        Brak nadchodzących testów powiązanych z wybraną grupą
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul ng-show="associatedTests.content.length > 0" class="list-group">
                        <li ng-repeat="test in associatedTests.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Dostępny od:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Aktywny przez:
                                            <strong>
                                                {{test.minutesActive | minutesToString}}
                                            </strong>
                                            <br>
                                            Czas trwania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                nieograniczony
                                            </strong>
                                        </span>
                                        <br>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/details" class="btn btn-primary group-options-button">
                                        Szczegóły
                                    </a>
                                    <span ng-switch on="test.testStatus">
                                        <span ng-switch-when="inactive">
                                            <a href="#/student/test-groups/{{testGroup.id}}/details" class="btn btn-warning" disabled>
                                                Test nieaktywny
                                            </a>
                                        </span>
                                        <span ng-switch-when="active">
                                            <a href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/take" class="btn btn-success">
                                                Rozpocznij test
                                            </a>
                                        </span>
                                        <span ng-switch-when="finished">
                                            <a href="#/student/test-groups/{{testGroup.id}}/details" class="btn btn-primary" disabled>
                                                Test zakończony
                                            </a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="associatedTests.totalPages > 1">
                    <div class="col-bg-12 text-center">
                        <a href="#/student/test-groups/{{testGroup.id}}/tests" class="btn btn-primary">
                            Pokaż wszystkie testy
                        </a>
                    </div>
                </div>
                <h2>Wyniki testów ({{associatedTestAnswers.content.length}})</h2>
                <div class="bs-component">
                    <ul ng-show="associatedTestAnswers.content.length == 0" class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-12 vcenter">
                                    <p class="list-group-item-text">
                                        Brak wyników testów powiązanych z wybraną grupą
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li ng-show="associatedTestAnswers.content.length > 0" ng-repeat="testAnswer in associatedTestAnswers.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{testAnswer.test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Data rozpoczęcia:
                                            <strong>
                                                {{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Czas wypełniania testu:
                                            <strong>
                                                {{testAnswer.timeSpent | secondsToString}}
                                            </strong>
                                            <br ng-show="testAnswer.test.hasTimeLimit">
                                            <span ng-show="testAnswer.test.hasTimeLimit">
                                                Limit czas dla testu:
                                                <strong>
                                                    {{testAnswer.test.timeLimit | minutesToString}}
                                                </strong>
                                            </span>
                                        </span>
                                        <br>
                                    </p>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center" ng-switch on="testAnswer.checked">
                                    <a href="#/student/tests/{{testAnswer.test.id}}/results/points" ng-switch-when="false" class="btn btn-warning group-options-button disabled">
                                        Oczekuje na sprawdzenie
                                    </a>
                                    <a href="#/student/tests/{{testAnswer.test.id}}/results/points" ng-switch-when="true" class="btn btn-primary group-options-button">
                                        Sprawdź wyniki
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="associatedTestAnswers.totalPages > 1">
                    <div class="col-bg-12 text-center">
                        <a href="#/student/test-groups/{{testGroup.id}}/results" class="btn btn-primary">
                            Pokaż wszystkie wyniki testów
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>