<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa grupy</td>
                                <td>
                                    {{testGroup.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>Egzaminator</td>
                                <td>
                                    {{testGroup.examiner.name}} {{testGroup.examiner.surname}}
                                </td>
                            </tr>
                            <tr>
                                <td>Data dodania do grupy</td>
                                <td>
                                    {{testGroup.studentTestGroup.joinDate | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button ng-click="leaveTestGroup()" class="btn btn-danger group-options-button">
                            Potwierdź opuszczenie grupy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>