<div class="row text-center question-image-container" ng-include="'templates/student/tests/questions/image.html'" ng-show="$parent.question.imageId"></div>
<div class="row question-content">
    <div class="col-lg-12">
        {{$parent.question.content}}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <span class="help-block">
            Wpisz odpowiedź w poniższe pole
        </span>
        <textarea class="form-control" rows="10" ng-model="$parent.questionAnswer.content"></textarea>
    </div>
</div>
