<div class="row text-center question-image-container" ng-include="'templates/student/tests/questions/image.html'" ng-show="$parent.question.imageId"></div>
<div class="row question-content">
    <div class="col-lg-12">
        {{$parent.question.content}}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <span class="help-block">
            Połącz opcje z ramki po prawej stronie z odpowiadającymi im pozycjami w tabeli
        </span>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group col-lg-8">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-6 text-center">
                                <strong>
                                    Element z pierwszej grupy
                                </strong>
                            </div>
                            <div class="col-lg-6 text-center">
                                <strong>
                                    Element z drugiej grupy
                                </strong>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-repeat="joinPattern in $parent.question.joinPatterns">
                        <div class="row">
                            <div class="col-lg-6 text-center vcenter">
                                <div class="btn btn-primary btn-sm">
                                    {{joinPattern.firstOption}}
                                </div>
                            </div><!--
                         --><div class="col-lg-6 text-center vcenter">
                                <div class="btn btn-droppable" style="height:39px; padding-top: 0px; padding-bottom: 0px" data-drop="true" ng-model='$parent.questionAnswer.joinPatternAssociations' jqyoui-droppable="{index: {{$index}}}">
                                    <div class="btn btn-primary btn-sm btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="$parent.questionAnswer.joinPatternAssociations" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-show="$parent.questionAnswer.joinPatternAssociations[$index].secondOption">
                                        {{$parent.questionAnswer.joinPatternAssociations[$index].secondOption}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group col-lg-4">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <strong>Opcje</strong>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="joinPattern in $parent.questionAnswer.joinPatternOptions" class="list-group-item text-center">
                        <div class="btn btn-droppable" style="text-align:center; height:39px; padding-top: 0px; padding-bottom: 0px" data-drop="true" ng-model='$parent.questionAnswer.joinPatternOptions' jqyoui-droppable="{index: {{$index}}}">
                            <div class="btn btn-primary btn-sm btn-draggable" data-drag="true" ng-model="$parent.questionAnswer.joinPatternOptions" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, placeholder:true, animate:true}" ng-show="joinPattern.secondOption">
                                {{joinPattern.secondOption}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
