<h2>Przebieg testu</h2>
<div class="bs-component" ng-show="$parent.test.hasTimeLimit">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>
                Czas pozostały do końca testu
            </strong>
        </div>
        <div class="list-group-item text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="progress">
                        <div class="progress-bar" ng-class="$parent.testTimeoutInfo.progressBarClass" ng-style="$parent.testTimeoutInfo.progressBarStyle"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <strong ng-show="$parent.test.hasTimeLimit">
                        {{$parent.testTimeoutInfo.timeLeftHours | minLength:2}}:{{$parent.testTimeoutInfo.timeLeftMinutes | minLength:2}}:{{$parent.testTimeoutInfo.timeLeftSeconds | minLength:2}} h /
                        {{$parent.test.timeLimitHours | minLength:2}}:{{$parent.test.timeLimitMinutes | minLength:2}}:{{$parent.test.timeLimitSeconds | minLength:2}} h
                    </strong>
                    <strong ng-show="!$parent.test.hasTimeLimit">
                        {{$parent.testTimeoutInfo.timeLeftHours | minLength:2}}:{{$parent.testTimeoutInfo.timeLeftMinutes | minLength:2}}:{{$parent.testTimeoutInfo.timeLeftSeconds | minLength:2}} h
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>
                Lista pytań
            </strong>
        </div>
        <div ng-repeat="index in [1, $parent.questionPositionInSequence - 1] | range" class="list-group-item disabled">
            Pytanie {{index}}
        </div>
        <div class="list-group-item active">
            Pytanie {{$parent.questionPositionInSequence}}
        </div>
        <div ng-repeat="index in [$parent.questionPositionInSequence + 1, $parent.questionSequence.sequence.length] | range" class="list-group-item">
            Pytanie {{index}}
        </div>
        <div class="list-group-item">
            Podsumowanie
        </div>
    </div>
</div>