<div class="row text-center question-image-container" ng-include="'templates/student/tests/questions/image.html'" ng-show="$parent.question.imageId"></div>
<div class="row question-hint">
    <div class="col-lg-12">
        <span class="help-block">
            Zaznacz dokładnie jedną poprawną odpowiedź
        </span>
    </div>
</div>
<div class="row question-content">
    <div class="col-lg-12">
        {{$parent.question.content}}
    </div>
</div>
<div ng-repeat="choicePattern in $parent.question.choicePatterns" class="row">
    <div class="col-lg-12">
        <div class="radio">
            <label>
                <input type="radio" ng-model="$parent.questionAnswer.selectedChoicePatternId" value="{{choicePattern.id}}">{{choicePattern.label}}
            </label>
        </div>
    </div>
</div>
