<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/tests/questions/menu.html'"></div>
            <div class="col-lg-8">
                <h2>{{test.name}}</h2>
                <div class="row">
                    <div class="col-lg-9 vcenter">
                        <h3 class="question-header">
                            Pytanie {{questionPositionInSequence}}
                            <span ng-show="debugMode">
                                [p:{{question.position}}, id: {{question.id}}]
                            </span>
                        </h3>
                    </div><!--
                 --><div class="col-lg-3 vcenter text-center">
                        <span ng-switch on="question.hasTimeLimit">
                            <span ng-switch-when="true">
                                <strong>
                                    {{questionTimeoutInfo.timeLeftMinutes | minLength:2}}:{{questionTimeoutInfo.timeLeftSeconds | minLength:2}} / {{question.timeLimitMinutes | minLength:2}}:{{question.timeLimitSeconds | minLength:2}} min
                                </strong>
                            </span>
                            <span ng-switch-when="false">
                                <strong>
                                    brak limitu czasowego
                                </strong>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="question.hasTimeLimit">
                    <div class="col-lg-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" ng-class="questionTimeoutInfo.progressBarClass" ng-style="questionTimeoutInfo.progressBarStyle"></div>
                        </div>
                    </div>
                </div>
                <div class="well bs-component">
                    <div ng-switch on="question.type">
                        <div ng-switch-when="single-simple-choice">
                            <div ng-include="'templates/student/tests/questions/single-choice.html'"></div>
                        </div>
                        <div ng-switch-when="single-complex-choice">
                            <div ng-include="'templates/student/tests/questions/single-choice.html'"></div>
                        </div>
                        <div ng-switch-when="multiple-simple-choice">
                            <div ng-include="'templates/student/tests/questions/multiple-choice.html'"></div>
                        </div>
                        <div ng-switch-when="multiple-complex-choice">
                            <div ng-include="'templates/student/tests/questions/multiple-choice.html'"></div>
                        </div>
                        <div ng-switch-when="join">
                            <div ng-include="'templates/student/tests/questions/join.html'"></div>
                        </div>
                        <div ng-switch-when="freetext">
                            <div ng-include="'templates/student/tests/questions/freetext.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button ng-click="finishQuestion()" class="btn btn-success group-options-button">
                            Następne pytanie
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>