<div class="container">	 	  
  <div class="page-header">
	  <div class="row">
		  <div class="col-lg-4" ng-include="'templates/examiner/test-groups/menu.html'"></div>
		  <div class="col-lg-4" ng-include="'templates/examiner/dashboard/tests.html'"></div>
		  <div class="col-lg-4" ng-include="'templates/examiner/dashboard/results.html'"></div>
	  </div>
  </div>
</div>