<h2>Wyniki testów</h2>
<div class="bs-component">
    <ul class="list-group">
        <div ng-show="testsPage.content.length == 0" class="list-group-item">
            <p class="list-group-item-text">
                Brak dostępnych wyników testów
            </p>
        </div>
        <a href="#/examiner/tests/{{test.id}}/results" ng-show="testsPage.content.length > 0" ng-repeat="test in testsPage.content" class="list-group-item">
            <h4 class="list-group-item-heading">
                {{test.name}}
            </h4>
            <div class="list-group-item-text">
                <p class="dashboard-group-title" ng-show="test.testTestGroups.length == 1">
                    Grupa testowa:
                    <strong>
                        {{test.testGroup.name}}
                    </strong>
                </p>
                <p class="dashboard-group-title" ng-show="test.testTestGroups.length > 1">
                    Test jest dostępny w wielu grupach
                </p>
                <span>
                    Data aktywacji testu:
                    <strong>
                        {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                    </strong>
                    <br>
                    Liczba ocenionych testów:
                    <strong>
                        {{test.testAnswersChecked}}
                    </strong>
                    <br>
                    Liczba wszystkich zdających:
                    <strong>
                        {{test.studentsCount}}
                    </strong>
                </span>
            </div>
        </a>
        <a href="#/examiner/results" ng-show="testsPage.totalPages > 1" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie wyniki testów
            </p>
        </a>
    </ul>
</div>