<h2>Testy do sprawdzenia</h2>
<div class="bs-component">
    <ul class="list-group">
        <div ng-show="testsToCheckPage.content.length == 0" class="list-group-item">
            <p class="list-group-item-text">
                Brak testów do sprawdzenia
            </p>
        </div>
        <a href="#/examiner/tests/{{test.id}}/check" ng-show="testsToCheckPage.content.length > 0" ng-repeat="test in testsToCheckPage.content" class="list-group-item">
            <h4 class="list-group-item-heading">
                {{test.name}}
            </h4>
            <div class="list-group-item-text">
                <p class="dashboard-group-title" ng-show="test.testGroup">
                    Grupa testowa:
                    <strong>
                        {{test.testGroup.name}}
                    </strong>
                </p>
                <p class="dashboard-group-title" ng-hide="test.testGroup">
                    Test jest dostępny w wielu grupach
                </p>
                <span>
                    Data aktywacji testu:
                    <strong>
                        {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                    </strong>
                    <br>
                    Limit czasu rozwiązywania:
                    <strong ng-show="test.hasTimeLimit">
                        {{test.timeLimit | minutesToString}}
                    </strong>
                    <strong ng-show="!test.hasTimeLimit">
                        brak limitu
                    </strong>
                    <br>
                    Liczba testów do sprawdzenia:
                    <strong>
                        {{test.testAnswersToCheck}}
                    </strong>
                </span>
            </div>
        </a>
        <a href="#/examiner/check" ng-show="testsToCheckPage.totalPages > 1" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie testy do sprawdzenia
            </p>
        </a>
    </ul>
</div>