<div class="loading-info" ng-show="isLoading() && (routeChanging || isLoginPage())" >
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="text-center">Trwa ładowanie strony ...</h1>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>