<div class="navbar-header">
    <a href="#" class="navbar-brand">ExamSystem</a>
    <span class="navbar-brand loading-spinner" ng-show="$parent.isLoading()">
        <img src="img/loading_spinner.gif" width="32px" height="32px">
    </span>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav navbar-right" ng-hide="authenticated">
        <li><span>Niezalogowany</span></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authenticated" ng-cloak>
        <li><span>Zalogowany jako: <strong ng-cloak>{{$parent.authenticatedUser.name}} {{$parent.authenticatedUser.surname}} ({{$parent.role.charAt(0)}})</strong></span></li>
        <li><a id="navbar-dashboard" href="#" ng-click="goToDashboard()">Panel główny</a></li>
        <li><a href="#" ng-click="logout()">Wyloguj</a></li>
    </ul>
</div>
