<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/dashboard/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Opcje kopii zapasowych</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Częstotliwość wykonywania kopii zapasowych
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="backups.frequency" ng-options="frequency.value as frequency.label for frequency in backupFrequencies"></select>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Adres i port serwera SSH
                                </div><!--
						--><div class="col-lg-4 vcenter text-center">
                                <input type="text" class="form-control" ng-model="backups.host">
                            </div><!--
						--><div class="col-lg-2 vcenter text-center">
                                <input type="number" min="0" max="99999" class="form-control" ng-model="backups.port">
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Nazwa konta użytkownika
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <input type="text" class="form-control" ng-model="backups.username">
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Hasło użytkownika
                                </div><!--
						--><div class="col-lg-4 vcenter text-center">
                                <input type="password" class="form-control" ng-model="backups.password" ng-disabled="!backups.changePassword" ng-class="{'input-disabled': !backups.changePassword}">
                            </div><!--
						--><div class="col-lg-2 vcenter text-center">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="backups.changePassword"> zmień
                                    </label>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Ścieżka do katalogu na zdalnym serwerze
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <input type="text" class="form-control" ng-model="backups.remotePath">
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Kompresja danych
                                </div><!--
						--><div class="col-lg-6 vcenter">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="backups.enableZip">stosuj kompresję do archiwum zip
                                    </label>
                                </div>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button ng-click="saveChanges()" class="btn btn-success group-options-button">Zapisz zmiany</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>