<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/dashboard/menu.html'"></div>
            <div class="col-lg-8">
                <form name="defaultsForm" novalidate>

                    <h2>Wartości domyślne dla testów</h2>

                    <div class="bs-component">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Opóźnienie aktywacji testu (liczba dni)
                                    </div><!--
                            --><div class="col-lg-6 vcenter text-center" ng-class="{'has-error': formValuesLoaded && defaultsForm.testActiveAfterDays.$invalid}">
                                    <input name="testActiveAfterDays" min="0" max="30" value="0" type="number" class="form-control" ng-model="defaults.testActiveAfterDays" required>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Czas dostępności testu (liczba minut)
                                    </div><!--
                            --><div class="col-lg-6 vcenter text-center" ng-class="{'has-error': formValuesLoaded && defaultsForm.testActiveTime.$invalid}">
                                    <input name="testActiveTime" min="1" max="300" type="number" class="form-control" ng-model="defaults.testActiveTime" required>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Czas trwania testu (liczba minut)
                                    </div><!--
                            --><div class="col-lg-6 vcenter text-center" ng-class="{'has-error': formValuesLoaded && defaultsForm.testLimitTime.$invalid}">
                                    <input name="testLimitTime" min="0" max="300" type="number" class="form-control" ng-model="defaults.testLimitTime" ng-disabled="!defaults.hasTestTimeLimit" ng-class="{'input-disabled': !defaults.hasTestTimeLimit}" required>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Limit czasu wypełniania testu
                                    </div><!--
                            --><div class="col-lg-6 vcenter">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="defaults.hasTestTimeLimit">domyślnie ogranicz czas wypełniania testu
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <h2>Wartości domyślne dla pytań</h2>

                    <div class="bs-component">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Ograniczenie liczby pytań
                                    </div><!--
                            --><div class="col-lg-6 vcenter">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="defaults.restrictQuestionsNumber">domyślnie ogranicz liczbę pytań w teście
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Losowanie kolejności pytań
                                    </div><!--
                            --><div class="col-lg-6 vcenter">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="defaults.useRandomSequence">domyślnie losuj kolejność wyświetlania pytań
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Czas odpowiedzi na pytanie (liczba minut i sekund)
                                    </div><!--
                            --><div class="col-lg-3 vcenter text-center" ng-class="{'has-error': formValuesLoaded && defaultsForm.questionLimitTimeMinutes.$invalid}">
                                    <input name="questionLimitTimeMinutes" min="0" max="60" type="number" class="form-control" ng-model="defaults.questionLimitTimeMinutes" ng-disabled="!defaults.hasQuestionTimeLimit" ng-class="{'input-disabled': !defaults.hasQuestionTimeLimit}" required>
                                </div><!--
                            --><div class="col-lg-3 vcenter text-center" ng-class="{'has-error': formValuesLoaded && defaultsForm.questionLimitTimeSeconds.$invalid}">
                                    <input name="questionLimitTimeSeconds" min="0" max="59" type="number" class="form-control" ng-model="defaults.questionLimitTimeSeconds" ng-disabled="!defaults.hasQuestionTimeLimit" ng-class="{'input-disabled': !defaults.hasQuestionTimeLimit}" required>
                                </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 vcenter">
                                        Limit czasu odpowiedzi na pytanie
                                    </div><!--
                            --><div class="col-lg-6 vcenter">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="defaults.hasQuestionTimeLimit">domyślnie ogranicz czas odpowiedzi na pytanie
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button ng-click="saveChanges()" ng-disabled="defaultsForm.$invalid" class="btn btn-success group-options-button">Zapisz zmiany</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>