<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/dashboard/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Liczba elementów na listach użytkowników</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Studenci
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.students" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Egzaminatorzy
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.examiners" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Administratorzy
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.admins" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <h2>Liczba elementów na listach testów</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Testy
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.tests" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Testy do sprawdzenia
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.testsToCheck" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Wyniki testów
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.testResults" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <h2>Liczba elementów na listach grup</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Grupy egzaminacyjne
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.testGroups" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6 vcenter">
                                    Testy powiązane z grupą
                                </div><!--
						--><div class="col-lg-6 vcenter text-center">
                                <select class="form-control" ng-model="lists.associatedTests" ng-options="value for value in listValues"></select>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button ng-click="saveChanges()" class="btn btn-success group-options-button">Zapisz zmiany</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>