<h2>Przebieg testu</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>Lista pytań</strong>
        </div>
        <div ng-repeat="index in [1, $parent.questionSequence.sequence.length] | range" class="list-group-item disabled">
            Pytanie {{index}}
        </div>
        <div class="list-group-item active">
            Podsumowanie
        </div>
    </div>
</div>