<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/tests/summary/menu.html'"></div>
            <div class="col-lg-8">
                <h2>{{test.name}}</h2>
                <h3>Podsumowanie</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Zakończyłeś uzupełnianie testu. Poniżej znajdują się informacje dotyczące czasu jego uzupełniania oraz osiągniętego rezultatu. Jeżeli test zawiera pytania, które wymagają ręcznego sprawdzenia przez egzaminatora (np. pytania otwarte) to wyniki będą dostępne dopiero po dokonaniu oceny przez egzaminatora. W przeciwnym wypadku system sprawdzi test automatycznie, a wyniki zostaną udostępnione natychmiast.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-warning group-options-button" ng-hide="testAnswer.checked" disabled>
                            Test oczekuje na sprawdzenie
                        </button>
                        <a href="#/student/tests/{{test.id}}/results/points" class="btn btn-primary group-options-button" ng-show="testAnswer.checked">
                            Sprawdź wyniki
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 vcenter">
                        <h3 class="test-result-header">
                            Całkowity czas uzupełniania testu
                        </h3>
                    </div><!--
				 --><div class="col-lg-3 vcenter text-center">
                        <strong ng-show="test.hasTimeLimit">
                            {{testAnswer.timeSpentHours | minLength:2}}:{{testAnswer.timeSpentMinutes | minLength:2}}:{{testAnswer.timeSpentSeconds | minLength:2}} h / {{test.timeLimitHours | minLength:2}}:{{test.timeLimitMinutes | minLength:2}}:{{test.timeLimitSeconds | minLength:2}} h
                        </strong>
                        <strong ng-show="!test.hasTimeLimit">
                            {{testAnswer.timeSpentHours | minLength:2}}:{{testAnswer.timeSpentMinutes | minLength:2}}:{{testAnswer.timeSpentSeconds | minLength:2}} h
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress" ng-show="test.hasTimeLimit">
                            <div class="progress-bar" ng-class="testAnswer.timeSpentBarClass" ng-style="testAnswer.timeSpentBarStyle"></div>
                        </div>
                        <span ng-show="!test.hasTimeLimit">
                            Brak limitu czasowego na uzupełnienie całego testu
                        </span>
                    </div>
                </div>
                <h3>Czas odpowiedzi na poszczególne pytania</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in questionAnswersMap | orderBy:'question.positionInSequence'">
                        <div class="row">
                            <div class="col-lg-3 vcenter">
                                Pytanie {{item.question.positionInSequence}}
                                <span ng-show="debugMode">
                                    [p:{{item.question.position}}, id:{{item.question.id}}]
                                </span>
                            </div><!--
                         --><div class="col-lg-6 vcenter">

                                <div ng-show="item.questionAnswer">
                                    <div class="progress" ng-show="item.question.hasTimeLimit" style="margin-top:10px;">
                                        <div class="progress-bar" ng-class="item.questionAnswer.timeSpentBarClass" ng-style="item.questionAnswer.timeSpentBarStyle"></div>
                                    </div>
                                    <span ng-show="!item.question.hasTimeLimit">
                                        brak limitu czasowego na uzupełnienie pytania
                                    </span>
                                </div>
                                <div ng-show="!item.questionAnswer">
                                    brak przesłanej odpowiedzi
                                </div>
                            </div><!--
                         --><div class="col-lg-3 vcenter">
                                <div ng-show="item.questionAnswer">
                                    <span ng-show="item.question.hasTimeLimit">
                                        {{item.questionAnswer.timeSpentMinutes | minLength:2}}:{{item.questionAnswer.timeSpentSeconds | minLength:2}} min / {{item.question.timeLimitMinutes | minLength:2}}:{{item.question.timeLimitSeconds | minLength:2}} min
                                    </span>
                                    <span ng-show="!item.question.hasTimeLimit">
                                        {{item.questionAnswer.timeSpentMinutes | minLength:2}}:{{item.questionAnswer.timeSpentSeconds | minLength:2}} min
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>