<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/admins/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Dodaj nowego administratora</h2>
                <div class="well bs-component">
                    <div class="row">
                        <form name="newAdminForm" novalidate>
                            <div class="col-lg-8 text-center">
                                <input type="text" class="form-control" id="ldapLogin" ng-model="ldapLogin" bs-options="admin.ldapLogin as admin | typeaheadLabel for admin in typeaheadAdmins" bs-typeahead placeholder="Identyfikator administratora w systemie Orion LDAP">
                            </div>
                            <div class="col-lg-4 text-center">
                                <button ng-click="addAdmin()" ng-disabled="!ldapLogin" class="btn btn-success">Dodaj administratora</button>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 ng-show="addedAdmins.length > 0">Lista dodanych administratorów</h2>
                <ul ng-show="addedAdmins.length > 0" class="list-group">
                    <li ng-repeat="admin in addedAdmins" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-7 vcenter">
                                <h4 class="list-group-item-heading">{{admin.name}} {{admin.surname}}</h4>
                                <p class="list-group-item-text">
                                    <span>Login Orion LDAP: <strong>{{admin.ldapLogin}}</strong><br>
                                    Data dodania: <strong>{{admin.joinDate | date:'dd.MM.yyyy, HH:mm'}}</strong></span>

                                </p>
                            </div><!--
						--><div class="col-lg-5 vcenter text-center">
                            <a href="#/admin/admins/{{admin.id}}/details" class="btn btn-primary group-options-button">Szczegóły</a>
                            <a href="#/admin/admins/{{admin.id}}/remove" class="btn btn-danger">Usuń administratora</a>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>