<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/admins/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Lista wszystkich administratorów</h2>
                <div class="bs-component">
                    <ul class="list-group" ng-show="adminsPage.totalElements == 0">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <p class="list-group-item-text">Brak administratorów zarejestrowanych w systemie</p>
                                </div><!--
                                --><div class="col-lg-5 vcenter text-center">
                                <a href="#/admin/admins/add" class="btn btn-success">Dodaj nowego administratora</a>
                            </div>
                            </div>
                        </li>
                    </ul>
                    <div class="list-group" ng-show="adminsPage.totalElements > 0">
                        <div class="list-group-item" ng-repeat="admin in adminsPage.content">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">{{admin.name}} {{admin.surname}}</h4>
                                    <p class="list-group-item-text">
							<span>Login Orion LDAP: <strong>{{admin.ldapLogin}}</strong><br>
							Data dodania: <strong>{{admin.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</strong></span>
                                    </p>
                                </div><!--
						--><div class="col-lg-5 vcenter text-center">
                                <a href="#/admin/admins/{{admin.id}}/details" class="btn btn-primary group-options-button">Szczegóły</a>
                                <a href="#/admin/admins/{{admin.id}}/remove" class="btn btn-danger" ng-show="admin.id != authenticatedUser.id">Usuń administratora</a>
                                <button class="btn btn-danger" ng-show="admin.id == authenticatedUser.id" disabled>Usuń administratora</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="adminsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': adminsPage.first}" >
                                <a href="#/admin/admins" ng-click="getAdminsPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, adminsPage.totalPages] | range" ng-class="{'active': pageNumber == (adminsPage.number + 1)}">
                                <a href="#/admin/admins" ng-click="getAdminsPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': adminsPage.last}">
                                <a href="#/admin/admins" ng-click="getAdminsPage(adminsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>