<h2>Lista administratorów</h2>

<div class="bs-component">
    <div class="list-group">
        <a href="#/admin/admins/{{admin.id}}/details" class="list-group-item" ng-repeat="admin in $parent.adminsPage.content" ng-class="{'active': $parent.admin.id == admin.id}">
            {{admin.name}} {{admin.surname}}
        </a>
        <a href="#/admin/admins/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">Dodaj nowego administratora</p>
        </a>
        <a href="#/admin/admins" class="list-group-item text-center" ng-show="$parent.adminsPage.totalPages > 1">
            <p class="list-group-item-text text-info">Pokaż wszystkich administratorów</p>
        </a>
    </div>
</div>