<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/admins/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły administratora</h2>

                <table class="table table-striped table-hover ">
                    <tbody>
                    <tr>
                        <td>Imię i nazwisko</td>
                        <td>{{admin.name}} {{admin.surname}}</td>
                    </tr>
                    <tr>
                        <td>Login Orion LDAP</td>
                        <td>{{admin.ldapLogin}}</td>
                    </tr>
                    <tr>
                        <td>Data dodania</td>
                        <td>{{admin.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Dodany przez</td>
                        <td>{{admin.addedBy}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/admin/admins/{{admin.id}}/remove" ng-click="removeAdmin()" class="btn btn-danger group-options-button" ng-show="admin.id != authenticatedUser.id">Potwierdź usunięcie administratora</a>
                        <button class="btn btn-danger group-options-button" ng-show="admin.id == authenticatedUser.id" disabled>Nie można usunąć własnego konta</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>