<div class="container">
    <div class="page-header">

        <div ng-show="testSaveSuccess" class="alert alert-info test-check-message">
            <button type="button" class="close" ng-click="cleanTestSaveMessages()">×</button>
            Ocenianie odpowiedzi dla wybranego studenta zostało zakończone poprawnie.
            <a href="#/examiner/tests/{{test.id}}/check" class="alert-link">Powrót do oceny testu</a>
        </div>

        <div ng-show="testSaveFailure" class="alert alert-danger test-check-message">
            <button type="button" class="close" ng-click="cleanTestSaveMessages()">×</button>
            Wystąpił błąd podczas zapisu ocen odpowiedzi dla wybranego studenta.
            <a href="#/examiner/tests/{{test.id}}/check" class="alert-link">Powrót do oceny testu</a>
        </div>

        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/check/student/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Grupa testowa</td>
                                <td ng-show="test.testGroup">
                                    {{test.testGroup.name}}
                                </td>
                                <td ng-hide="test.testGroup">
                                    Test jest dostępny w wielu grupach
                                </td>
                            </tr>
                            <tr>
                                <td>Data rozpoczęcia testu</td>
                                <td>
                                    {{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Limit czasu rozwiązywania testu</td>
                                <td	ng-show="test.hasTimeLimit">
                                    {{test.timeLimit | minutesToString}}
                                </td>
                                <td	ng-show="!test.hasTimeLimit">
                                    brak limitu
                                </td>
                            </tr>
                            <tr>
                                <td>Odpowiedzi studenta</td>
                                <td>
                                    {{student.name}} {{student.surname}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bs-component row text-center">
                    <button class="btn btn-success" ng-click="saveTestGrade()">
                        Zakończ ocenę testu
                    </button>
                </div>
                <h2>Pytania sprawdzane przez egzaminatora</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row question-answer-header-row">
                                <div class="col-lg-4 vcenter">
                                    <h3 class="list-group-item-heading question-answer-header">
                                        Pytanie {{questionAnswersMap[currentQuestionAnswerIndex].question.positionInSequence}}
                                        <span ng-show="debugMode">
                                            [p:{{questionAnswersMap[currentQuestionAnswerIndex].question.position}}, id:{{questionAnswersMap[currentQuestionAnswerIndex].question.id}}]
                                        </span>
                                    </h3>
                                </div><!--
                             --><div class="col-lg-8 vcenter text-right">
                                    <button href="#/examiner/tests/{{test.id}}/students/{{student.id}}/check" class="btn btn-primary group-options-button" ng-click="prevQuestionAnswer()" ng-disabled="currentQuestionAnswerIndex == 0">
                                        Poprzednie pytanie
                                    </button>
                                    <button href="#/examiner/tests/{{test.id}}/students/{{student.id}}/check" class="btn btn-primary group-options-button" ng-click="nextQuestionAnswer()" ng-disabled="currentQuestionAnswerIndex == questionAnswersMap.length - 1">
                                        Kolejne pytanie
                                    </button>
                                    <button href="#/examiner/tests/{{test.id}}/students/{{student.id}}/check" class="btn btn-success" ng-click="saveQuestionGrade()">
                                        Zapisz ocenę
                                    </button>
                                </div>
                            </div>

                            <div ng-show="questionSaveSuccess" class="alert alert-info question-check-message">
                                <button type="button" class="close" ng-click="cleanQuestionSaveMessages()">×</button>
                                Ocena odpowiedzi na pytanie została zapisana poprawnie
                            </div>

                            <div ng-show="questionSaveFailure" class="alert alert-danger question-check-message">
                                <button type="button" class="close" ng-click="cleanQuestionSaveMessages()">×</button>
                                Wystąpił błąd podczas zapisu oceny odpowiedzi na pytanie
                            </div>

                            <div class="well bs-component">
                                <form class="form-horizontal" name="forms.checkForm_{{$parent.currentQuestionAnswerIndex}}" novalidate>
                                    <fieldset>
                                        <div class="form-group text-center" ng-include="'templates/examiner/check/student/image.html'" ng-show="questionAnswersMap[currentQuestionAnswerIndex].question.imageId"></div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-lg-2 control-label">
                                                Opis pytania
                                            </label>
                                            <div class="col-lg-10 question-answer-row">
                                                {{questionAnswersMap[currentQuestionAnswerIndex].question.content}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-lg-2 control-label">
                                                Odpowiedź
                                            </label>
                                            <div class="col-lg-10 question-answer-row" ng-show="questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.content">
                                                {{questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.content}}
                                            </div>
                                            <div class="col-lg-10 question-answer-row" ng-hide="questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.content">
                                                <span class="text-danger">
                                                    brak odpowiedzi udzielonej przez studenta
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-lg-2 control-label">
                                                Czas
                                            </label>
                                            <div class="col-lg-10 question-answer-row">
                                                {{questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.timeSpent | secondsToString}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-lg-2 control-label">
                                                Komentarz egzaminatora
                                            </label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control" rows="3" id="textArea" ng-model="questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">
                                                Punktacja
                                            </label>
                                            <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['checkForm_' + $parent.currentQuestionAnswerIndex].freetextQuestionPoints.$invalid}">
                                                <input type="number" class="form-control" ng-model="questionAnswersMap[currentQuestionAnswerIndex].questionAnswer.points" min="0" max="{{questionAnswersMap[currentQuestionAnswerIndex].question.maxPoints}}" name="freetextQuestionPoints" required>
                                            </div><!--
							             --><div class="col-lg-7 vcenter">
                                                punktów (maksymalnie {{questionAnswersMap[currentQuestionAnswerIndex].question.maxPoints}})
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>