<label class="col-lg-2 control-label">
    Grafika
</label>
<div class="col-lg-10 question-answer-row">
    <img src="{{$parent.questionAnswersMap[$parent.currentQuestionAnswerIndex].question.imageThumbnail}}" class="question-image">
</div>
