<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group text-center" ng-include="'templates/examiner/results/student/question/image.html'" ng-show="question.imageId"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10 question-row">
                    {{question.content}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Odpowiedź
                </label>
                <div class="col-lg-10 question-row" ng-show="questionAnswer.content">
                    {{questionAnswer.content}}
                </div>
                <div class="col-lg-10 question-row" ng-hide="questionAnswer.content">
                    <span class="text-danger">
                        brak odpowiedzi udzielonej przez studenta
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Komentarz egzaminatora
                </label>
                <div class="col-lg-10 question-row" ng-show="questionAnswer.comment">
                    {{questionAnswer.comment}}
                </div>
                <div class="col-lg-10 question-row" ng-hide="questionAnswer.comment">
                    <span class="text-danger">
                        brak komentarza dodanego przez egzaminatora
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
</div>