<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group text-center" ng-include="'templates/examiner/results/student/question/image.html'" ng-show="question.imageId"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10 question-row">
                    {{question.content}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Odpowiedź
                </label>
                <div class="col-lg-10">
                    <div class="row question-row" ng-repeat="joinAnswerPart in questionAnswer.joinAnswerParts">
                        <div class="col-lg-5 text-right" ng-class="{'text-success': joinAnswerPart.correct, 'text-danger': !joinAnswerPart.correct}">
                            {{joinAnswerPart.firstOption}}
                        </div>
                        <div class="col-lg-2 text-center" ng-class="{'text-success': joinAnswerPart.correct, 'text-danger': !joinAnswerPart.correct}">
                            &mdash;
                        </div>
                        <div class="col-lg-5" ng-class="{'text-success': joinAnswerPart.correct, 'text-danger': !joinAnswerPart.correct}">
                            {{joinAnswerPart.secondOption}}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>