<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group text-center" ng-include="'templates/examiner/results/student/question/image.html'" ng-show="question.imageId"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10 question-row">
                    {{question.content}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Odpowiedź
                </label>
                <div class="col-lg-10">
                    <div ng-repeat="choiceAnswerPart in questionAnswer.choiceAnswerParts" class="radio" ng-class="{'text-success': choiceAnswerPart.correct, 'text-danger': !choiceAnswerPart.correct}">
                        <label>
                            <input type="radio" ng-checked="choiceAnswerPart.selected" disabled>{{question.choicePatterns[$index].label}}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>