<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/results/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>{{test.name}}</h2>
                <div class="row">
                    <div class="col-lg-9 vcenter">
                        <h3 class="test-result-header">Liczba zdobytych punktów</h3>
                    </div><!--
				 --><div class="col-lg-3 vcenter text-center">
                        <strong>
                            {{testAnswer.points}} pkt. / {{testAnswer.maxPoints}} pkt. ({{ testAnswer.pointsPercentage }}%)
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress">
                            <div class="progress-bar" ng-class="testAnswer.pointsBarClass" ng-style="testAnswer.pointsBarStyle"></div>
                        </div>
                    </div>
                </div>
                <h3>Liczba punktów przyznanych za poszczególne pytania</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in questionAnswersMap | orderBy:'question.positionInSequence'">
                        <div class="row">
                            <div class="col-lg-2 question-result-points-header">
                                Pytanie {{item.question.positionInSequence}} <span ng-show="debugMode">[p:{{item.question.position}}, id:{{item.question.id}}]</span>
                            </div><!--
                         --><div class="col-lg-4">
                                <div ng-show="item.questionAnswer">
                                    <div class="progress question-result-points-progress">
                                        <div class="progress-bar" ng-class="item.questionAnswer.pointsBarClass" ng-style="item.questionAnswer.pointsBarStyle"></div>
                                    </div>
                                </div>
                                <div ng-show="!item.questionAnswer" class="question-result-points-no-answer">
                                    brak przesłanej odpowiedzi
                                </div>
                            </div><!--
                         --><div class="col-lg-3 text-center question-result-points">
                                <div ng-show="item.questionAnswer">
                                    <p ng-class="item.questionAnswer.textClass">
                                        {{item.questionAnswer.points}} pkt. / {{item.question.maxPoints}} pkt. ({{item.questionAnswer.pointsPercentage}}%)
                                    </p>
                                </div>
                                <div ng-show="!item.questionAnswer">
                                    <p ng-class="item.questionAnswer.textClass">
                                        0 pkt. / {{item.question.maxPoints}} pkt. (0%)
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 text-center">
                                <a href="#/student/tests/{{test.id}}/questions/{{item.question.id}}/results" class="btn btn-primary" ng-show="item.questionAnswer">Szczegóły</a>
                                <a href="#/student/tests/{{test.id}}/results/points" class="btn btn-primary" ng-hide="item.questionAnswer" disabled>Szczegóły</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/student/tests/{{test.id}}/results/times" class="btn btn-primary group-options-button">
                            Sprawdź czas rozwiązywania testu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>