<h2>Testy do sprawdzenia</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/examiner/tests/{{test.id}}/check" ng-repeat="test in $parent.testsToCheckPage.content" class="list-group-item" ng-class="{'active': test.id == $parent.test.id}">
            <span class="badge">
                {{test.testAnswersToCheck}}
            </span>
            {{test.name}}
        </a>
        <div class="list-group-item text-center" ng-show="$parent.testsToCheckPage.content.length == 0">
            Brak testów do sprawdzenia
        </div>
        <a ng-show="$parent.testsToCheckPage.totalPages > 1" href="#/examiner/check" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie testy do sprawdzenia
            </p>
        </a>
    </div>
</div>