<h2>Lista administratorów</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/admin/admins/{{admin.id}}/details" class="list-group-item" ng-repeat="admin in adminsPage.content">
            <h4 class="list-group-item-heading">
                {{admin.name}} {{admin.surname}}
            </h4>
            <p class="list-group-item-text">
                <span>
                    Login Orion LDAP: <strong>{{admin.ldapLogin}}</strong><br>
                    Data dodania: <strong>{{admin.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</strong>
                </span>
            </p>
        </a>
        <a href="#/admin/admins/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">Dodaj nowego administratora</p>
        </a>
        <a href="#/admin/admins" class="list-group-item text-center" ng-show="adminsPage.totalPages > 1">
            <p class="list-group-item-text text-info">Pokaż wszystkich administratorów</p>
        </a>
    </div>
</div>
