<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-4" ng-include="'templates/admin/dashboard/menu.html'"></div>
			<div class="col-lg-4" ng-include="'templates/admin/dashboard/admins.html'"></div>
			<div class="col-lg-4" ng-include="'templates/admin/dashboard/examiners.html'"></div>
		</div>
	</div>
</div>