<h2>Lista egzaminatorów</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/admin/examiners/{{examiner.id}}/details" class="list-group-item" ng-repeat="examiner in examinersPage.content">
            <h4 class="list-group-item-heading">
                {{examiner.name}} {{examiner.surname}}
            </h4>
            <p class="list-group-item-text">
                <span>
                    Login Orion LDAP: <strong>{{examiner.ldapLogin}}</strong><br>
                    Data dodania: <strong>{{examiner.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</strong>
                </span>
            </p>
        </a>
        <a href="#/admin/examiners/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">Dodaj nowego egzaminatora</p>
        </a>
        <a href="#/admin/examiners" class="list-group-item text-center" ng-show="examinersPage.totalPages > 1">
            <p class="list-group-item-text text-info">Pokaż wszystkich egzaminatorów</p>
        </a>
    </div>
</div>
