<h2>Opcje administracyjne</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/admin/backups" class="list-group-item" ng-class="{'active': $parent.adminModule == 'backups'}">
            Kopie zapasowe
        </a>
        <a href="#/admin/defaults" class="list-group-item" ng-class="{'active': $parent.adminModule == 'defaults'}">
            Wartości domyślne
        </a>
        <a href="#/admin/lists" class="list-group-item" ng-class="{'active': $parent.adminModule == 'lists'}">
            Liczba elementów list
        </a>
    </div>
</div>