<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/check/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Wszystkie testy do sprawdzenia</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testsToCheckPage.content.length == 0" class="list-group-item">
                            <p class="list-group-item-text">
                                Brak testów do sprawdzenia
                            </p>
                        </li>
                        <li ng-show="testsToCheckPage.content.length > 0" ng-repeat="test in testsToCheckPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">{{test.name}}</h4>
                                    <div class="list-group-item-text">
                                        <p class="dashboard-group-title" ng-show="test.testGroup">
                                            {{test.testGroup.name}}
                                        </p>
                                        <p class="dashboard-group-title" ng-hide="test.testGroup">
                                            Test jest dostępny w wielu grupach
                                        </p>
                                        <span>
                                            Data aktywacji testu:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Limit czasu rozwiązywania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                brak limitu
                                            </strong>
                                            <br>
                                            Liczba testów do sprawdzenia:
                                            <strong>
                                                {{test.testAnswersToCheck}}
                                            </strong>
                                        </span>
                                     </div>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center">
                                    <a href="#/examiner/tests/{{test.id}}/check" class="btn btn-primary group-options-button">
                                        Sprawdź testy
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testsToCheckPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testsToCheckPage.first}" >
                                <a href="#/examiner/check" ng-click="getTestsToCheckPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testsToCheckPage.totalPages] | range" ng-class="{'active': pageNumber == (testsToCheckPage.number + 1)}">
                                <a href="#/examiner/check" ng-click="getTestsToCheckPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsToCheckPage.last}">
                                <a href="#/examiner/check" ng-click="getTestsToCheckPage(testsToCheckPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>