<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Napisz test</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testsPage.content.length == 0" class="list-group-item">
                            <p class="list-group-item-text">
                                Brak dostępnych testów do napisania
                            </p>
                        </li>
                        <li ng-show="testsPage.content.length > 0" ng-repeat="test in testsPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Dostępny od:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Dostępny przez:
                                            <strong>
                                                {{test.minutesActive | minutesToString}}
                                            </strong>
                                        </span>
                                        <span ng-show="test.hasTimeLimit">
                                            <br>
                                            Czas trwania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                nieograniczony
                                            </strong>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center">
                                    <div ng-switch on="test.testStatus">
                                        <button ng-switch-when="inactive" class="btn btn-warning group-options-button" disabled>
                                            Test nieaktywny
                                        </button>
                                        <a href="#/student/tests/{{test.id}}/take" ng-switch-when="active" class="btn btn-success group-options-button">
                                            Rozpocznij test
                                        </a>
                                        <button ng-switch-when="finished" class="btn btn-primary group-options-button" disabled>
                                            Test zakończony
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testsPage.first}" >
                                <a href="#/student/tests" ng-click="getTestsPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testsPage.totalPages] | range" ng-class="{'active': pageNumber == (testsPage.number + 1)}">
                                <a href="#/student/tests" ng-click="getTestsPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsPage.last}">
                                <a href="#/student/tests" ng-click="getTestsPage(testsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>