<h2>Testy</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/student/tests/test-groups/{{test.testGroupId}}/{{test.id}}/take" ng-repeat="test in $parent.testsPage.content" class="list-group-item">
            {{test.name}}
        </a>
    </div>
</div>