<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/test-groups/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>
                                    {{ test.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>Nazwa grupy testowej</td>
                                <td>
                                    {{ testGroup.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>Egzaminator</td>
                                <td>{{testGroup.examiner.name}} {{testGroup.examiner.surname}}</td>
                            </tr>
                            <tr>
                                <td>Data dodania testu</td>
                                <td>{{test.createdDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Dostępny od</td>
                                <td>
                                    {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Aktywny przez</td>
                                <td>
                                    {{test.minutesActive | minutesToString}}
                                </td>
                            </tr>
                            <tr>
                                <td>Czas trwania testu</td>
                                <td	ng-show="test.hasTimeLimit">
                                    {{test.timeLimit | minutesToString}}
                                </td>
                                <td	ng-show="!test.hasTimeLimit">
                                    nieograniczony
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <a href="#/student/test-groups/{{testGroup.id}}/details" class="btn btn-primary group-options-button">
                            Powrót do strony grupy
                        </a>
                        <span ng-switch on="test.testStatus">
                            <span ng-switch-when="inactive">
                                <button class="btn btn-warning" disabled>
                                    Test nieaktywny
                                </button>
                            </span>
                            <span ng-switch-when="active">
                                <a href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/take" class="btn btn-success">
                                    Rozpocznij test
                                </a>
                            </span>
                            <span ng-switch-when="finished">
                                <button class="btn btn-primary" disabled>
                                    Test zakończony
                                </button>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>