<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/test-groups/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa grupy</td>
                                <td>
                                    {{ testGroup.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>Egzaminator</td>
                                <td>{{testGroup.examiner.name}} {{testGroup.examiner.surname}}</td>
                            </tr>
                            <tr>
                                <td>Data dodania do grupy</td>
                                <td>{{testGroup.studentTestGroup.joinDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <a href="#/student/test-groups/{{testGroup.id}}/details" class="btn btn-primary group-options-button">
                            Powrót do strony grupy
                        </a>
                    </div>
                </div>
                <h2>Testy powiązane z grupą ({{testsPage.totalElements}})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testsPage.totalElements == 0" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-12 vcenter">
                                    <p class="list-group-item-text">
                                        Brak testów powiązanych z wybraną grupą
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li ng-show="testsPage.totalElements > 0" ng-repeat="test in testsPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Dostępny w okresie:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Aktywny przez:
                                            <strong>
                                                {{test.minutesActive | minutesToString}}
                                            </strong>
                                            <br>
                                            Czas trwania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                nieograniczony
                                            </strong>
                                        </span>
                                        <br>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/details" class="btn btn-primary group-options-button">
                                        Szczegóły
                                    </a>
                                    <span ng-switch on="test.testStatus">
                                        <span ng-switch-when="inactive">
                                            <button class="btn btn-warning" disabled>
                                                Test nieaktywny
                                            </button>
                                        </span>
                                        <span ng-switch-when="active">
                                            <a href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/take" class="btn btn-success">
                                                Rozpocznij test
                                            </a>
                                        </span>
                                        <span ng-switch-when="finished">
                                            <button class="btn btn-primary" disabled>
                                                Test zakończony
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testsPage.first}" >
                                <a href="#/student/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testsPage.totalPages] | range" ng-class="{'active': pageNumber == (testsPage.number + 1)}">
                                <a href="#/student/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsPage.last}">
                                <a href="#/student/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(testsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>