<h2>Testy</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>{{$parent.testGroup.name}}</strong>
        </div>
        <div class="list-group-item text-center" ng-show="$parent.testsPage.content.length == 0">
            Brak testów w wybranej grupie
        </div>
        <a ng-repeat="test in $parent.testsPage.content" href="#/student/test-groups/{{testGroup.id}}/tests/{{test.id}}/details" class="list-group-item" ng-class="{'active': test.id == $parent.test.id}">
            {{test.name}}
        </a>
        <a ng-show="tests.content.totalPages > 1" href="#/student/test-groups/{{testGroup.id}}/tests" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie testy z tej grupy
            </p>
        </a>
        <a href="#/student/test-groups/{{testGroup.id}}/details" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Powrót do strony grupy
            </p>
        </a>
    </div>
</div>