<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Dodaj nową grupę studencką</h2>
                <div class="well bs-component">
                    <div class="row">
                        <form name="testGroupForm" novalidate>
                            <div class="col-lg-8 text-center" ng-class="{'has-error': testGroupForm.groupName.$invalid}">
                                <input type="text" class="form-control" id="groupName" name="groupName" ng-model="groupName" placeholder="Nazwa grupy studenckiej" ng-minlength="5" ng-maxlength="50" required>
                            </div>
                            <div class="col-lg-4 text-center">
                                <button ng-click="addTestGroup()" ng-disabled="!validateTestGroupNameUnique(testGroupForm.groupName, 'uniqueTestGroupName', groupName, testGroupNames) || testGroupForm.$invalid" class="btn btn-success">
                                    Dodaj nową grupę
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 ng-show="addedTestGroups.length > 0">
                    Dodane grupy studenckie
                </h2>
                <ul ng-show="addedTestGroups.length > 0" class="list-group">
                    <li ng-repeat="testGroup in addedTestGroups" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-7 vcenter">
                                <h4 class="list-group-item-heading">
                                    {{testGroup.name}}
                                </h4>
                                <p class="list-group-item-text">
                                    <span>
                                        Data utworzenia grupy:
                                        <strong>
                                            {{testGroup.createdDate | date:'dd.MM.yyyy, HH:mm'}}
                                        </strong>
                                    </span>
                                </p>
                            </div><!--
						 --><div class="col-lg-5 vcenter text-center">
                                <a href="#/examiner/test-groups/{{testGroup.id}}/edit" class="btn btn-success group-options-button">
                                    Edytuj szczegóły
                                </a>
                                <a href="#/examiner/test-groups/{{testGroup.id}}/remove" class="btn btn-danger group-options-button">
                                    Usuń grupę
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>