<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <form name="testGroupForm" novalidate>
                        <table class="table table-striped table-hover ">
                            <tbody>
                            <tr>
                                <td style="padding-top:20px;">Nazwa grupy</td>
                                <td ng-class="{'has-error': testGroupForm.groupName.$invalid}">
                                    <input type="text" class="form-control" id="groupName" name="groupName" ng-model="testGroup.name" ng-minlength="5" ng-maxlength="50" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Data stworzenia grupy</td>
                                <td>{{testGroup.createdDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Liczba powiązanych testów</td>
                                <td>{{testGroup.testTestGroups.length}}</td>
                            </tr>
                            <tr>
                                <td>Liczba przypisanych studentów</td>
                                <td>{{testGroup.studentTestGroups.length}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button ng-click="saveChanges()" ng-disabled="!validateTestGroupNameUnique(testGroupForm.groupName, 'uniqueTestGroupName', testGroup.name, testGroupNames) || testGroupForm.$invalid" class="btn btn-success group-options-button">
                            Zapisz zmiany
                        </button>
                        <a href="#/examiner/test-groups/{{testGroup.id}}/copy" class="btn btn-success group-options-button" ng-hide="isTestGroupCopy">
                            Stwórz kopię
                        </a>
                        <a href="#/examiner/test-groups/{{testGroup.id}}/remove" class="btn btn-danger">
                            Usuń grupę
                        </a>
                    </div>
                </div>
                <h2>Testy powiązane z grupą ({{associatedTests.totalElements}})</h2>
                <div class="bs-component">
                    <ul ng-show="associatedTests.content.length == 0" class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <p class="list-group-item-text">
                                        Brak testów powiązanych z wybraną grupą
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests/add" class="btn btn-success">
                                        Dodaj nowy test do grupy
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul ng-show="associatedTests.content.length > 0" class="list-group">
                        <li ng-repeat="test in associatedTests.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Dostępny od:
                                            <strong>
                                                {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Aktywny przez:
                                            <strong>
                                                {{test.minutesActive | minutesToString}}
                                            </strong>
                                            <br>
                                            Limit czasu rozwiązywania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                brak limitu
                                            </strong>
                                        </span>
                                        <br>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/tests/{{test.id}}/edit" class="btn btn-success group-options-button">
                                        Edytuj szczegóły
                                    </a>
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests/{{test.id}}/remove-from-group" class="btn btn-danger" ng-show="test.testTestGroups.length > 1">
                                        Usuń z grupy
                                    </a>
                                    <a href="#/examiner/tests/{{test.id}}/remove" class="btn btn-danger remove-test-button" ng-show="test.testTestGroups.length == 1">
                                        Usuń test
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests" class="btn btn-primary group-options-button">
                                        Pokaż wszystkie testy z tej grupy
                                    </a>
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests/add" class="btn btn-success">
                                        Dodaj nowy test do grupy
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h2>Studenci przypisani do grupy ({{associatedStudents.length}})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="associatedStudents.length > 0" ng-repeat="student in associatedStudents" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{student.name}} {{student.surname}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Adres email:
                                            <strong>
                                                {{student.email}}
                                            </strong>
                                            <br>
                                            Identyfikator w systemie Orion LDAP:
                                            <strong>
                                                {{student.ldapLogin}}
                                            </strong>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/edit" ng-click="removeStudent(student.id)" class="btn btn-danger">
                                        Usuń studenta z grupy
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <form name="newStudentForm" novalidate>
                                    <div class="col-lg-7 vcenter">
                                        <input type="text" class="form-control" id="studentLdapLogin" ng-model="studentLdapLogin" bs-options="student.ldapLogin as student | typeaheadLabel for student in typeaheadStudents" bs-typeahead placeholder="Identyfikator studenta w systemie Orion LDAP">
                                    </div><!--
                                 --><div class="col-lg-5 vcenter text-center">
                                        <button ng-click="addStudent()" ng-disabled="!studentLdapLogin" class="btn btn-success">
                                            Dodaj studenta do grupy
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>