<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                        <tr>
                            <td>Nazwa grupy</td>
                            <td>{{testGroup.name}}</td>
                        </tr>
                        <tr>
                            <td>Data stworzenia grupy</td>
                            <td>{{testGroup.createdDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                        </tr>
                        <tr>
                            <td>Liczba powiązanych testów</td>
                            <td>{{testGroup.testTestGroups.length}}</td>
                        </tr>
                        <tr>
                            <td>Liczba przypisanych studentów</td>
                            <td>{{testGroup.studentTestGroups.length}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button ng-click="removeTestGroup($routeParams.testGroupId)" class="btn btn-danger group-options-button">
                            Potwierdź usunięcie grupy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>