<div class="well bs-component">
    <form class="form-horizontal" name="forms.questionForm_{{$parent.question.position}}" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Typ pytania
                </label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" ng-model="$parent.question.type" ng-change="changeQuestionType($parent.question.position)" ng-options="questionType.value as questionType.label for questionType in $parent.questionTypes"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].content.$invalid}">
                <label for="question_{{$parent.question.id}}_content" class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="question_{{$parent.question.id}}_content" ng-model="$parent.question.content" ng-minlength="5" ng-maxlength="500" name="content" required></textarea>
                </div>
            </div>
            <div class="form-group" ng-include="'templates/examiner/tests/question/image.html'"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Limit czasu
                </label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitMinutes.$invalid}">
                    <input type="number" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitMinutes" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}"min="0" max="300" name="timeLimitMinutes" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    minut
                </div><!--
             --><div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitSeconds.$invalid}">
                    <input type="number" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitSeconds" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}" min="{{($parent.question.hasTimeLimit && $parent.question.timeLimitMinutes == 0) ? 30 : 0}}" max="59" name="timeLimitSeconds" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    sekund
                </div>
                <br>
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$parent.question.hasTimeLimit">
                            ogranicz czas odpowiedzi na to pytanie
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<form name="forms.choiceForm_{{$parent.question.position}}" novalidate>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 text-center">
                    <strong>Wariant odpowiedzi</strong>
                </div>
                <div class="col-lg-2 text-center">
                    <strong>Liczba pkt. za zaznaczenie</strong>
                </div>
                <div class="col-lg-2 text-center">
                    <strong>Liczba pkt. za odznaczenie</strong>
                </div>
                <div class="col-lg-3 text-center">
                    <strong>Opcje</strong>
                </div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="choicePattern in $parent.question.choicePatterns">
            <div class="row">
                <div class="col-lg-5 text-center" ng-class="{'has-error': forms['choiceForm_' + $parent.question.position]['label_' + $index].$invalid}">
                    <input type="text" class="form-control" ng-model="choicePattern.label" name="label_{{$index}}" ng-minlength="1" ng-maxlength="50" required>
                </div>
                <div class="col-lg-2 text-center" ng-class="{'has-error': forms['choiceForm_' + $parent.question.position]['selectedPoints_' + $index].$invalid}">
                    <input type="number" class="form-control" ng-model="choicePattern.selectedPoints" name="selectedPoints_{{$index}}" min="-10" max="10" required>
                </div>
                <div class="col-lg-2 text-center" ng-class="{'has-error': forms['choiceForm_' + $parent.question.position]['deselectedPoints_' + $index].$invalid}">
                    <input type="number" class="form-control" ng-model="choicePattern.deselectedPoints" name="deselectedPoints_{{$index}}" min="-10" max="10" required>
                </div>
                <div class="col-lg-3 text-center">
                    <button href="#{{currentUrl}}" ng-click="removeVariant($parent.question.position, $index)" class="btn btn-danger">
                        Usuń wariant
                    </button>
                </div>
            </div>
        </li>
    </ul>
</form>
<form name="forms.newChoiceForm_{{$parent.question.position}}" novalidate>
    <div class="well bs-component">
        <div class="row">
            <div class="col-lg-5 text-center" ng-class="{'has-error': forms['newChoiceForm_' + $parent.question.position].label.$invalid}">
                <input type="text" class="form-control" ng-model="$parent.question.newChoicePattern.label" name="label" ng-minlength="1" ng-maxlength="50">
            </div>
            <div class="col-lg-2 text-center" ng-class="{'has-error': forms['newChoiceForm_' + $parent.question.position].selectedPoints.$invalid}">
                <input type="number" class="form-control" ng-model="$parent.question.newChoicePattern.selectedPoints" name="selectedPoints" min="-10" max="10" required>
            </div>
            <div class="col-lg-2 text-center" ng-class="{'has-error': forms['newChoiceForm_' + $parent.question.position].deselectedPoints.$invalid}">
                <input type="number" class="form-control" ng-model="$parent.question.newChoicePattern.deselectedPoints" name="deselectedPoints" min="-10" max="10" required>
            </div>
            <div class="col-lg-3 text-center">
                <button ng-click="addVariant($parent.question.position)" class="btn btn-success" ng-disabled="forms['newChoiceForm_' + $parent.question.position].$invalid">
                    Dodaj wariant
                </button>
            </div>
        </div>
    </div>
</form>