<div class="well bs-component">
    <form class="form-horizontal" name="forms.questionForm_{{$parent.question.position}}" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Typ pytania
                </label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" ng-model="$parent.question.type" ng-change="changeQuestionType($parent.question.position)" ng-options="questionType.value as questionType.label for questionType in $parent.questionTypes"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].content.$invalid}">
                <label for="question_{{$parent.question.id}}_content" class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="question_{{$parent.question.id}}_content" ng-model="$parent.question.content" ng-minlength="5" ng-maxlength="500" name="content" required></textarea>
                </div>
            </div>
            <div class="form-group" ng-include="'templates/examiner/tests/question/image.html'"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Limit czasu
                </label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitMinutes.$invalid}">
                    <input type="text" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitMinutes" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}" min="0" max="300" name="timeLimitMinutes" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    minut
                </div><!--
             --><div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitSeconds.$invalid}">
                    <input type="text" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitSeconds" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}" min="{{($parent.question.hasTimeLimit && $parent.question.timeLimitMinutes == 0) ? 30 : 0}}" max="59" name="timeLimitSeconds" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    sekund
                </div>
                <br>
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$parent.question.hasTimeLimit">
                            ogranicz czas odpowiedzi na to pytanie
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Punktacja
                </label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].maxPoints.$invalid}">
                    <input type="number" class="form-control" ng-model="$parent.question.maxPoints" min="1" max="50" name="maxPoints" required>
                </div><!--
             --><div class="col-lg-7 vcenter">
                    punktów za poprawną odpowiedź (maksymalnie)
                </div>
            </div>
        </fieldset>
    </form>
</div>