    <label class="col-lg-2 control-label vcenter question-image-form-label">
        Grafika
    </label><!--
 --><div class="col-lg-2 vcenter">
        <img class="img-responsive img-thumbnail" ng-show="$parent.question.imageThumbnail" ng-src="{{$parent.question.imageThumbnail}}">
        <img class="img-responsive img-thumbnail" ng-show="!$parent.question.imageThumbnail" src="img/no_image.png">
    </div><!--
 --><div class="col-lg-8 vcenter">
        <label class="btn btn-primary group-options-button" for="upload-file-input_{{$parent.question.position}}" ng-disabled="isTestReadOnly">
            <input id="upload-file-input_{{$parent.question.position}}" type="file" file-model="$parent.question.imageFile" accept="image/jpeg" file-on-change="imageFileChanged(question)" name="file" ng-disabled="isTestReadOnly" style="display:none">
            <span ng-hide="$parent.question.imageThumbnail">
                Wybierz plik z grafiką
            </span>
            <span ng-show="$parent.question.imageThumbnail">
                Zmień plik z grafiką
            </span>
        </label>
        <button class="btn btn-danger" ng-show="$parent.question.imageThumbnail" ng-click="$parent.removeImageFromQuestion($parent.question)" ng-disabled="isTestReadOnly">
            Usuń grafikę
        </button>
    </div>
