<div class="well bs-component">
    <form class="form-horizontal" name="forms.questionForm_{{$parent.question.position}}" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Typ pytania
                </label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" ng-model="$parent.question.type" ng-change="changeQuestionType($parent.question.position)" ng-options="questionType.value as questionType.label for questionType in $parent.questionTypes"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].content.$invalid}">
                <label for="question_{{$parent.question.id}}_content" class="col-lg-2 control-label">
                    Opis pytania
                </label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="question_{{$parent.question.id}}_content" ng-model="$parent.question.content" ng-minlength="5" ng-maxlength="500" name="content" required></textarea>
                </div>
            </div>
            <div class="form-group" ng-include="'templates/examiner/tests/question/image.html'"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Limit czasu
                </label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitMinutes.$invalid}">
                    <input type="text" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitMinutes" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}" min="0" max="300" name="timeLimitMinutes" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    minut
                </div><!--
             --><div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].timeLimitSeconds.$invalid}">
                    <input type="text" class="form-control" ng-disabled="!$parent.question.hasTimeLimit" ng-model="$parent.question.timeLimitSeconds" ng-class="{'input-disabled': !$parent.question.hasTimeLimit}" min="{{($parent.question.hasTimeLimit && $parent.question.timeLimitMinutes == 0) ? 30 : 0}}" max="59" name="timeLimitSeconds" required>
                </div><!--
             --><div class="col-lg-2 vcenter">
                    sekund
                </div>
                <br>
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$parent.question.hasTimeLimit">
                            ogranicz czas odpowiedzi na to pytanie
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">
                    Punktacja
                </label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].correctPoints.$invalid}">
                    <input type="number" class="form-control" name="correctPoints" ng-model="$parent.question.correctPoints" min="1" max="10" name="correctPoints" required>
                </div><!--
             --><div class="col-lg-7 vcenter">
                    punktów za poprawną odpowiedź
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-3 vcenter" ng-class="{'has-error': forms['questionForm_' + $parent.question.position].incorrectPoints.$invalid}">
                    <input type="number" class="form-control" name="incorrectPoints" ng-model="$parent.question.incorrectPoints" min="-10" max="10" name="incorrectPoints" required>
                </div><!--
             --><div class="col-lg-7 vcenter">
                    punktów za błędną odpowiedź
                </div>
            </div>
        </fieldset>
    </form>
</div>
<form name="forms.joinForm_{{$parent.question.position}}" novalidate>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <strong>
                        Element z pierwszej grupy
                    </strong>
                </div>
                <div class="col-lg-4 text-center">
                    <strong>
                        Element z drugiej grupy
                    </strong>
                </div>
                <div class="col-lg-4 text-center">
                    <strong>
                        Opcje
                    </strong>
                </div>
            </div>
        </li>
        <li id="question_{{$parent.question.position}}_join_{{$index}}" class="list-group-item" ng-repeat="joinPattern in $parent.question.joinPatterns">
            <div ng-include="'templates/examiner/tests/question/join-link.html'" onload="checkJoinPatternReadOnly(question, $index)"></div>
        </li>
    </ul>
</form>
<div class="well bs-component">
    <div class="row">
        <form name="forms.newJoinForm_{{$parent.question.position}}" novalidate>
            <div class="col-lg-4 text-center" ng-class="{'has-error': forms['newJoinForm_' + $parent.question.position].firstOption.$invalid}">
                <input type="text" class="form-control" ng-model="$parent.question.newJoinPattern.firstOption" name="firstOption" ng-minlength="1" ng-maxlength="50">
            </div>
            <div class="col-lg-4 text-center" ng-class="{'has-error': forms['newJoinForm_' + $parent.question.position].secondOption.$invalid}">
                <input type="text" class="form-control" ng-model="$parent.question.newJoinPattern.secondOption" name="secondOption" ng-minlength="1" ng-maxlength="50">
            </div>
            <div class="col-lg-4 text-center">
                <button ng-click="addLink($parent.question.position)" ng-disabled="forms['newJoinForm_' + $parent.question.position].$invalid || isTestReadOnly" class="btn btn-success">
                    Dodaj nowe powiązanie
                </button>
            </div>
        </form>
    </div>
</div>