<div class="row">
    <div class="col-lg-4 text-center" ng-class="{'has-error': forms['joinForm_' + $parent.question.position]['firstOption_' + $index].$invalid}">
        <input type="text" class="form-control" ng-model="joinPattern.firstOption" name="firstOption_{{$index}}" ng-minlength="1" ng-maxlength="50" ng-disabled="isTestReadOnly" required>
    </div>
    <div class="col-lg-4 text-center" ng-class="{'has-error': forms['joinForm_' + $parent.question.position]['secondOption_' + $index].$invalid}">
        <input type="text" class="form-control" ng-model="joinPattern.secondOption" name="secondOption_{{$index}}" ng-minlength="1" ng-maxlength="50" ng-disabled="isTestReadOnly" required>
    </div>
    <div class="col-lg-4 text-center">
        <button ng-click="removeLink($parent.question.position, $index)" class="btn btn-danger" ng-disabled="isTestReadOnly">
            Usuń powiązanie
        </button>
    </div>
</div>