<div class="row">
    <div class="col-lg-7 text-center" ng-class="{'has-error': forms['choiceForm_' + $parent.question.position]['label_' + $index].$invalid}">
        <input type="text" class="form-control" ng-model="choicePattern.label" name="label_{{$index}}" ng-minlength="1" ng-maxlength="50" ng-disabled="isTestReadOnly" required>
    </div>
    <div class="col-lg-2 text-center">
        <div class="radio">
            <label>
                <input type="radio" ng-model="$parent.question.selectedChoicePatternIndex" ng-disabled="isTestReadOnly" value="{{$index}}">
            </label>
        </div>
    </div>
    <div class="col-lg-3 text-center">
        <button ng-click="removeVariant($parent.question.position, $index)" ng-disabled="isTestReadOnly" class="btn btn-danger">
            Usuń wariant
        </button>
    </div>
</div>