<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/test/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły grupy</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa grupy</td>
                                <td>
                                    {{ testGroup.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>Data utworzenia</td>
                                <td>
                                    {{ testGroup.createdDate | date:'dd.MM.yyyy, HH:mm' }}
                                </td>
                            </tr>
                            <tr>
                                <td>Liczba powiązanych testów</td>
                                <td>
                                    {{ testGroup.testTestGroups.length }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <a href="#/examiner/test-groups/{{testGroup.id}}/edit" class="btn btn-primary group-options-button">
                            Powrót do strony grupy
                        </a>
                        <a href="#/examiner/test-groups/{{testGroup.id}}/tests/add" class="btn btn-success">
                            Dodaj nowy test do grupy
                        </a>
                    </div>
                </div>
                <h2>Testy powiązane z grupą ({{ testsPage.totalElements }})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testsPage.totalElements == 0" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <p class="list-group-item-text">
                                        Brak testów powiązanych z wybraną grupą
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests/add" class="btn btn-success">
                                        Dodaj nowy test
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li ng-show="testsPage.totalElements > 0" ng-repeat="test in testsPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{ test.name }}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Dostępny od:
                                            <strong>
                                                {{ test.activeFrom | date:'dd.MM.yyyy, HH:mm' }}
                                            </strong>
                                            <br>
                                            Aktywny przez:
                                            <strong>
                                                {{test.minutesActive | minutesToString}}
                                            </strong>
                                            <br>
                                            Limit czasu rozwiązywania testu:
                                            <strong ng-show="test.hasTimeLimit">
                                                {{test.timeLimit | minutesToString}}
                                            </strong>
                                            <strong ng-show="!test.hasTimeLimit">
                                                brak limitu
                                            </strong>
                                        </span>
                                        <br>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/tests/{{test.id}}/edit" class="btn btn-success group-options-button">
                                        Edytuj szczegóły
                                    </a>
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/tests/{{test.id}}/remove-from-group" class="btn btn-danger" ng-show="test.testTestGroups.length > 1">
                                        Usuń z grupy
                                    </a>
                                    <a href="#/examiner/tests/{{test.id}}/remove" class="btn btn-danger remove-test-button" ng-show="test.testTestGroups.length == 1">
                                        Usuń test
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testsPage.first}" >
                                <a href="#/examiner/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testsPage.totalPages] | range" ng-class="{'active': pageNumber == (testsPage.number + 1)}">
                                <a href="#/examiner/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsPage.last}">
                                <a href="#/examiner/test-groups/{{testGroup.id}}/tests" ng-click="getTestsPage(testsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>