<h2>Testy z wybranej grupy</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>
                {{testGroup.name}}
            </strong>
        </div>
        <div class="list-group-item text-center" ng-show="$parent.testsPage.content.length == 0">
            Brak testów w wybranej grupie
        </div>
        <a ng-repeat="test in $parent.testsPage.content" href="#/examiner/tests/{{test.id}}/edit" class="list-group-item" ng-class="{'active': test.id == $parent.test.id}">
            {{ test.name }}
        </a>
        <a ng-show="$parent.testsPage.totalPages > 1" href="#/examiner/test-groups/{{testGroup.id}}/tests" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie testy z tej grupy
            </p>
        </a>
        <a href="#/examiner/test-groups/{{testGroup.id}}/tests/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">
                Dodaj nowy test do grupy
            </p>
        </a>
    </div>
</div>