<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/test/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu usuwanego z grupy testowej</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Nazwa grupy testowej</td>
                                <td>{{testGroup.name}}</td>
                            </tr>
                            <tr>
                                <td>Data stworzenia testu</td>
                                <td>{{test.createdDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Aktywny od</td>
                                <td>{{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Dostępny przez okres</td>
                                <td>{{test.minutesActive | minutesToString}} od momentu aktywacji</td>
                            </tr>
                            <tr >
                                <td>Limit czasu rozwiązywania testu</td>
                                <td ng-show="test.hasTimeLimit">{{test.timeLimit}} minut</td>
                                <td ng-show="!test.hasTimeLimit">brak limitu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button ng-click="removeTestFromTestGroup()" class="btn btn-danger group-options-button">
                            Potwierdź usunięcie testu z wybranej grupy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>