html {
    overflow-y:scroll;
}

.group-options-button {
    margin-right:10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.progress {
    display: block;
}

.loading-spinner {
    margin-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.datepicker > .btn-default {
    color: #000000;
    background-color: #ffffff;
}

.datepicker > .btn-primary {
    color: #000000;
    background-color: #ffffff;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.input-disabled {
    color: #acb6c1;
}

.table-info-cell {
    margin-top: 10px;
    margin-bottom: 10px;
}

.viewport-loading {
    visibility: hidden;
}

.login-box {
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.loading-info {
    margin-top:5em;
}

.test-result-header {
    margin-bottom:21px;
}

.question-result-points-header {
    margin-top:10px;
}

.question-result-points-progress {
    margin-top:15px;
}

.question-result-points-no-answer {
    margin-top:10px;
}

.question-result-points {
    margin-top:10px;
}

.question-result-times-header {
    margin-top:5px;
    margin-bottom:5px;
}

.question-result-times-limit {
    margin-top:5px;
    margin-bottom:5px;
}

.question-result-times-progress {
    margin-top:5px;
}

.question-result-times-spent {
    margin-top:5px;
    margin-bottom:5px;
}

.question-row {
    margin-top:10px;
}

.question-image {
    max-height:300px;
}

.question-image-container {
    margin-bottom:10px;
}

.question-content {
    margin-bottom:10px;
}

.question-time-row {
    height:28px;
    margin-bottom:5px;
}

.question-time-header {
    margin-top:5px;
    margin-bottom:4px;
}

.question-time-progress-row {
    margin-top:5px;
}

.question-time-progress {
    margin-top:5px;
}

.question-time-spent {
    margin-top:5px;
}

.question-points-header {
    margin-top:5px;
}

.question-points-progress-row {
    margin-top:10px;
}

.question-points-points {
    margin-top:5px;
}

.question-header {
    margin-bottom:21px;
}

.question-answer-row {
    margin-top:10px;
}

.question-answer-header {
    margin-top:5px;
}

.question-answer-header-row {
    margin-bottom:10px;
}

.question-row {
    margin-top:10px;
}

.remove-test-button {
    margin-left:10px;
    margin-right:10px;
}

.question-image-form-label {
    padding-top:0px;
}

.test-form-row {
    padding-top:20px !important;
}

.test-form-checkbox {
    padding-top:10px;
}

.question-form-row {
    margin-bottom:10px;
}

.question-form-row-header {
    margin-top:5px;
}

.dashboard-group-title {
    margin-top:8px;
    margin-bottom:5px !important;
}

.question-check-message,
.test-check-message,
.test-save-message {
    margin-bottom:10px;
    height:45px;
    padding-top:10px;
}