<div class="container">
    <div class="page-header">

        <div ng-show="testSaveSuccess" class="alert alert-info test-save-message">
            <button type="button" class="close" ng-click="cleanTestSaveMessages()">×</button>
            Test został zapisany poprawnie.
        </div>

        <div ng-show="testSaveFailure" class="alert alert-danger test-save-message">
            <button type="button" class="close" ng-click="cleanTestSaveMessages()">×</button>
            Wystąpił błąd podczas zapisu testu.
        </div>

        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <form id="testForm" name="testForm" novalidate>
                        <table class="table table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <td class="test-form-row">
                                        Nazwa testu
                                    </td>
                                    <td colspan="4" ng-class="{'has-error': testForm.testName.$invalid}">
                                        <input type="text" class="form-control" name="testName" ng-minlength="5" ng-maxlength="100" id="testName" placeholder="Nazwa testu" ng-model="test.name" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="table-info-cell">
                                            Data utworzenia
                                        </p>
                                    </td>
                                    <td colspan="4">
                                        <p class="table-info-cell">
                                            {{ test.createdDate | date:'dd.MM.yyyy, HH:mm' }}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="test-form-row">
                                        Aktywny od
                                    </td>
                                    <td colspan="2" ng-class="{'has-error': testForm.activeFromCalendar.$invalid}">
                                        <input class="form-control" name="activeFromCalendar" ng-model="test.activeFromCalendar" data-date-format="dd.MM.yyyy" data-date-type="number" data-min-date="today" data-autoclose="1" bs-datepicker type="text">
                                    </td>
                                    <td colspan="2" ng-class="{'has-error': testForm.activeFromTime.$invalid}">
                                        <input class="form-control" name="activeFromTime" size="8" ng-model="test.activeFromTime" bs-timepicker data-time-format="HH:mm" data-time-type="number" data-length="1" data-minute-step="1" data-arrow-behavior="picker" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="test-form-row">
                                        Dostępny przez
                                    </td>
                                    <td colspan="2" ng-class="{'has-error': testForm.minutesActive.$invalid}">
                                        <input type="number" min="1" max="300" name="minutesActive" class="form-control" ng-model="test.minutesActive">
                                    </td>
                                    <td colspan="2" class="test-form-row">
                                        minut od momentu aktywacji
                                    </td>
                                </tr>
                                <tr>
                                    <td class="test-form-row">
                                        Czas trwania testu
                                    </td>
                                    <td ng-class="{'has-error': testForm.timeLimit.$invalid}">
                                        <input type="number" min="1" max="300" name="timeLimit" class="form-control" ng-model="test.timeLimit" ng-disabled="!test.hasTimeLimit" ng-class="{'input-disabled': !test.hasTimeLimit}">
                                    </td>
                                    <td class="test-form-row">
                                        minut
                                    </td>
                                    <td colspan="2" class="test-form-checkbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="test.hasTimeLimit"> ogranicz czas trwania
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="test-form-row">
                                        Liczba pytań
                                    </td>
                                    <td ng-if="test.restrictQuestionsNumber" ng-class="{'has-error': (test.restrictQuestionsNumber) ? testForm.usedQuestionsNumberManual.$invalid : testForm.usedQuestionsNumberAuto.$invalid}">
                                        <input type="number" min="0" max="{{questions.length}}" name="usedQuestionsNumberManual" class="form-control" ng-model="test.usedQuestionsNumber" ng-show="test.restrictQuestionsNumber">
                                    </td>
                                    <td ng-if="!test.restrictQuestionsNumber" ng-class="{'has-error': (test.restrictQuestionsNumber) ? testForm.usedQuestionsNumberManual.$invalid : testForm.usedQuestionsNumberAuto.$invalid}">
                                        <input type="number" min="0" max="{{questions.length}}" name="usedQuestionsNumberAuto" class="form-control input-disabled" ng-model="questions.length" ng-hide="test.restrictQuestionsNumber" disabled>
                                    </td>
                                    <td class="test-form-row">
                                        pytań w teście
                                    </td>
                                    <td colspan="2" class="test-form-checkbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="test.restrictQuestionsNumber"> ogranicz liczbę pytań
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="test-form-row">
                                        Kolejność pytań
                                    </td>
                                    <td colspan="4" class="test-form-checkbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="test.useRandomSequence"> użyj losowej kolejności pytań
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button class="btn btn-success group-options-button" ng-disabled="!checkTestValid()" ng-click="saveChanges()">
                            Zapisz nowy test
                        </button>
                    </div>
                </div>
                <h2>Grupy testowe ({{associatedTestGroups.length}})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="associatedTestGroups.length > 0" ng-repeat="testGroup in associatedTestGroups" class="list-group-item">
                            <div class="row">
                                <div class="vcenter" ng-class="{'col-lg-8': associatedTestGroups.length == 1, 'col-lg-7': associatedTestGroups.length > 1}">
                                    <h4 class="list-group-item-heading">
                                        {{testGroup.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Data stworzenia:
                                            <strong>
                                                {{testGroup.createdDate | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Liczba testów:
                                            <strong>
                                                {{testGroup.testTestGroups.length + 1}}
                                            </strong>
                                            <br>
                                            Liczba studentów:
                                            <strong>
                                                {{testGroup.studentTestGroups.length}}
                                            </strong>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="vcenter text-center" ng-class="{'col-lg-4': associatedTestGroups.length == 1, 'col-lg-5': associatedTestGroups.length > 1}">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/edit" class="btn btn-primary" ng-class="{'group-options-button': associatedTestGroups.length > 1}">
                                        Szczegóły
                                    </a>
                                    <button ng-click="removeTestFromTestGroup(null, testGroup.id)" class="btn btn-danger" ng-show="associatedTestGroups.length > 1">
                                        Usuń test z grupy
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <input type="text" class="form-control" name="addedTestGroup" id="addedTestGroup" ng-model="addedTestGroup" bs-options="typeaheadTestGroup.name for typeaheadTestGroup in typeaheadTestGroups" bs-typeahead placeholder="Nazwa grupy testowej">
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center">
                                    <button ng-click="addTestToTestGroup()" class="btn btn-success">
                                        Dodaj test do grupy
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h2>Pytania testowe ({{questions.length}})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="question in questions | orderBy:'position'">
                            <div class="row question-form-row">
                                <div class="col-lg-4 vcenter">
                                    <h3 class="list-group-item-heading question-form-row-header">
                                        Pytanie {{question.position}}
                                    </h3>
                                </div><!--
                             --><div class="col-lg-8 vcenter text-right">
                                    <button class="btn btn-success group-options-button" ng-disabled="$index == 0" ng-click="moveUp(question.position)">
                                        Przenieś w górę
                                    </button>
                                    <button class="btn btn-success group-options-button" ng-disabled="$index == questions.length-1" ng-click="moveDown(question.position)">
                                        Przenieś w dół
                                    </button>
                                    <button class="btn btn-danger" ng-click="removeQuestion(question.position)">
                                        Usuń pytanie
                                    </button>
                                </div>
                            </div>
                            <div ng-switch on="question.type">
                                <div ng-switch-when="single-simple-choice">
                                    <div ng-include="'templates/examiner/tests/question/simple-single-choice.html'"></div>
                                </div>
                                <div ng-switch-when="single-complex-choice">
                                    <div ng-include="'templates/examiner/tests/question/complex-choice.html'"></div>
                                </div>
                                <div ng-switch-when="multiple-simple-choice">
                                    <div ng-include="'templates/examiner/tests/question/simple-multiple-choice.html'"></div>
                                </div>
                                <div ng-switch-when="multiple-complex-choice">
                                    <div ng-include="'templates/examiner/tests/question/complex-choice.html'"></div>
                                </div>
                                <div ng-switch-when="join">
                                    <div ng-include="'templates/examiner/tests/question/join.html'"></div>
                                </div>
                                <div ng-switch-when="freetext">
                                    <div ng-include="'templates/examiner/tests/question/freetext.html'"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="well bs-component">
                    <div class="row">
                        <div class="col-lg-8 vcenter">
                            <select class="form-control" ng-model="newQuestionType" ng-options="questionType.value as questionType.label for questionType in questionTypes">
                                <option value="">
                                    - Wybierz typ nowego pytania -
                                </option>
                            </select>
                        </div><!--
                     --><div class="col-lg-4 vcenter text-center">
                            <button ng-click="addNewQuestion()" class="btn btn-success" ng-disabled="!newQuestionType">
                                Dodaj nowe pytanie
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button class="btn btn-success group-options-button" ng-disabled="!checkTestValid()" ng-click="saveChanges()">
                            Zapisz nowy test
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>