<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/tests/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa test</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Przynależność do grup testowych</td>
                                <td><span ng-repeat="testGroup in testGroups">{{testGroup.name}}<br></span></td>
                            </tr>
                            <tr>
                                <td>Data stworzenia testu</td>
                                <td>{{test.createdDate | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Aktywny od</td>
                                <td>{{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td>Dostępny przez okres</td>
                                <td>{{test.minutesActive | minutesToString}} od momentu aktywacji</td>
                            </tr>
                            <tr ng-show="test.hasTimeLimit">
                                <td>Limit czasu rozwiązywania testu</td>
                                <td>{{test.timeLimit}} minut</td>
                            </tr>
                            <tr ng-show="!test.hasTimeLimit">
                                <td>Limit czasu rozwiązywania testu</td>
                                <td>brak limitu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-bg-12 text-center">
                        <button ng-click="removeTest($routeParams.testId)" class="btn btn-danger group-options-button">
                            Potwierdź usunięcie testu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>