<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/results/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Wszystkie wyniki testów</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testAnswersPage.content.length == 0" class="list-group-item">
                            <p class="list-group-item-text">
                                Brak dostępnych wyników testów
                            </p>
                        </li>
                        <li ng-show="testAnswersPage.content.length > 0" ng-repeat="testAnswer in testAnswersPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{testAnswer.test.name}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span>
                                            Data rozpoczęcia:
                                            <strong>
                                                {{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Czas wypełniania testu:
                                            <strong>
                                                {{testAnswer.timeSpent | secondsToString}}
                                            </strong>
                                            <br ng-show="testAnswer.test.hasTimeLimit">
                                            <span ng-show="testAnswer.test.hasTimeLimit">
                                                Limit czas dla testu:
                                                <strong>
                                                    {{testAnswer.test.timeLimit | minutesToString}}
                                                </strong>
                                            </span>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center" ng-switch on="testAnswer.checked">
                                    <a ng-switch-when="false" href="#/student/results" class="btn btn-warning group-options-button disabled">
                                        Oczekuje na sprawdzenie
                                    </a>
                                    <a ng-switch-when="true" href="#/student/tests/{{testAnswer.test.id}}/results/points" class="btn btn-primary group-options-button">
                                        Sprawdź wyniki
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testAnswersPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testAnswersPage.first}" >
                                <a href="#/student/results" ng-click="getTestAnswersPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testAnswersPage.totalPages] | range" ng-class="{'active': pageNumber == (testAnswersPage.number + 1)}">
                                <a href="#/student/results" ng-click="getTestAnswersPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testAnswersPage.last}">
                                <a href="#/student/results" ng-click="getTestAnswersPage(testAnswersPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>