<h2>Wyniki testów</h2>
<div class="bs-component">
    <div class="list-group">
        <a href="#/student/tests/{{testAnswer.test.id}}/results/points" ng-repeat="testAnswer in $parent.testAnswersPage.content" class="list-group-item" ng-class="{'not-active': !testAnswer.checked}">
            {{testAnswer.test.name}}
        </a>
    </div>
</div>