<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/results/test/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły testu</h2>
                <div class="bs-component">
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Nazwa testu</td>
                                <td>{{test.name}}</td>
                            </tr>
                            <tr>
                                <td>Grupa testowa</td>
                                <td ng-show="test.testGroup">
                                    {{test.testGroup.name}}
                                </td>
                                <td ng-hide="test.testGroup">
                                    Test jest dostępny w wielu grupach
                                </td>
                            </tr>
                            <tr>
                                <td>Data aktywacji testu</td>
                                <td>
                                    {{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Limit czasu rozwiązywania testu</td>
                                <td	ng-show="test.hasTimeLimit">
                                    {{test.timeLimit | minutesToString}}
                                </td>
                                <td	ng-show="!test.hasTimeLimit">
                                    brak limitu
                                </td>
                            </tr>
                            <tr>
                                <td>Liczba ocenionych testów</td>
                                <td>{{testAnswersPage.totalElements}}</td>
                            </tr>
                            <tr>
                                <td>Liczba wszystkich zdających</td>
                                <td>{{test.studentsCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>Lista wyników dla wybranego testu ({{testAnswersPage.totalElements}})</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-show="testAnswersPage.content.length == 0" class="list-group-item">
                            <p class="list-group-item-text">
                                Brak dostępnych wyników dla wybranego testu
                            </p>
                        </li>
                        <li ng-show="testAnswersPage.content.length > 0" ng-repeat="testAnswer in testAnswersPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{testAnswer.student.name}} {{testAnswer.student.surname}}
                                    </h4>
                                    <p class="list-group-item-text">
                                        <span class="email-info">
                                            Adres email:
                                            <strong>
                                                {{testAnswer.student.email}}
                                            </strong>
                                        </span>
                                        <br>
							            <span>
                                            Czas wypełniania testu:
                                            <strong>
                                                {{testAnswer.timeSpent | secondsToString}}
                                            </strong>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="col-lg-4 vcenter text-center">
                                    <a href="#/examiner/tests/{{test.id}}/students/{{testAnswer.student.id}}/results/points" class="btn btn-primary group-options-button">
                                        Sprawdź wyniki
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testAnswersPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testAnswersPage.first}" >
                                <a href="#/examiner/tests/{{test.id}}/check" ng-click="getTestAnswersPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testAnswersPage.totalPages] | range" ng-class="{'active': pageNumber == (testAnswersPage.number + 1)}">
                                <a href="#/examiner/tests/{{test.id}}/check" ng-click="getTestAnswersPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testAnswersPage.last}">
                                <a href="#/examiner/tests/{{test.id}}/check" ng-click="getTestAnswersPage(testAnswersPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>