<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/examiners/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Dodaj nowego egzaminatora</h2>
                <div class="well bs-component">
                    <div class="row">
                        <form name="newExaminerForm" novalidate>
                            <div class="col-lg-8 text-center">
                                <input type="text" class="form-control" id="ldapLogin" ng-model="ldapLogin" bs-options="examiner.ldapLogin as examiner | typeaheadLabel for examiner in typeaheadExaminers" bs-typeahead placeholder="Identyfikator egzaminatora w systemie Orion LDAP">
                            </div>
                            <div class="col-lg-4 text-center">
                                <button ng-click="addExaminer()" ng-disabled="!ldapLogin" class="btn btn-success">Dodaj egzaminatora</button>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 ng-show="addedExaminers.length > 0">Lista dodanych egzaminatorów</h2>
                <ul ng-show="addedExaminers.length > 0" class="list-group">
                    <li ng-repeat="examiner in addedExaminers" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-7 vcenter">
                                <h4 class="list-group-item-heading">{{examiner.name}} {{examiner.surname}}</h4>
                                <p class="list-group-item-text">
                                    <span>Login Orion LDAP: <strong>{{examiner.ldapLogin}}</strong><br>
                                    Data dodania: <strong>{{examiner.joinDate | date:'dd.MM.yyyy, HH:mm'}}</strong></span>

                                </p>
                            </div><!--
						--><div class="col-lg-5 vcenter text-center">
                            <a href="#/admin/examiners/{{examiner.id}}/details" class="btn btn-primary group-options-button">Szczegóły</a>
                            <a href="#/admin/examiners/{{examiner.id}}/remove" class="btn btn-danger">Usuń egzaminatora</a>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>