<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/examiners/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Szczegóły egzaminatora</h2>

                <table class="table table-striped table-hover ">
                    <tbody>
                    <tr>
                        <td>Imię i nazwisko</td>
                        <td>{{examiner.name}} {{examiner.surname}}</td>
                    </tr>
                    <tr>
                        <td>Login Orion LDAP</td>
                        <td>{{examiner.ldapLogin}}</td>
                    </tr>
                    <tr>
                        <td>Data dodania</td>
                        <td>{{examiner.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Dodany przez</td>
                        <td>{{examiner.addedBy}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/admin/examiners/{{examiner.id}}/remove" class="btn btn-danger group-options-button">Usuń egzaminatora</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>