<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/admin/examiners/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Lista wszystkich egzaminatorów</h2>
                <div class="bs-component">
                    <ul class="list-group" ng-show="examinersPage.totalElements == 0">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <p class="list-group-item-text">Brak egzaminatorów zarejestrowanych w systemie</p>
                                </div><!--
                                --><div class="col-lg-5 vcenter text-center">
                                <a href="#/admin/examiners/add" class="btn btn-success">Dodaj nowego egzaminatora</a>
                            </div>
                            </div>
                        </li>
                    </ul>
                    <div class="list-group" ng-show="examinersPage.totalElements > 0">
                        <div class="list-group-item" ng-repeat="examiner in examinersPage.content">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">{{examiner.name}} {{examiner.surname}}</h4>
                                    <p class="list-group-item-text">
							<span>Login Orion LDAP: <strong>{{examiner.ldapLogin}}</strong><br>
							Data dodania: <strong>{{examiner.joinDate | date:'dd.MM.yyyy, HH:mm:ss'}}</strong></span>
                                    </p>
                                </div><!--
						--><div class="col-lg-5 vcenter text-center">
                                <a href="#/admin/examiners/{{examiner.id}}/details" class="btn btn-primary group-options-button">Szczegóły</a>
                                <a href="#/admin/examiners/{{examiner.id}}/remove" class="btn btn-danger">Usuń egzaminatora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="examinersPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': examinersPage.first}" >
                                <a href="#/admin/examiners" ng-click="getExaminersPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, examinersPage.totalPages] | range" ng-class="{'active': pageNumber == (examinersPage.number + 1)}">
                                <a href="#/admin/examiners" ng-click="getExaminersPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testsPage.last}">
                                <a href="#/admin/examiners" ng-click="getExaminersPage(examinersPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>