<h2>Lista egzaminatorów</h2>

<div class="bs-component">
    <div class="list-group">
        <a href="#/admin/examiners/{{examiner.id}}/details" class="list-group-item" ng-repeat="examiner in $parent.examinersPage.content" ng-class="{'active': $parent.examiner.id == examiner.id}">
            {{examiner.name}} {{examiner.surname}}
        </a>
        <a href="#/admin/examiners/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">Dodaj nowego egzaminatora</p>
        </a>
        <a href="#/admin/examiners" class="list-group-item text-center" ng-show="$parent.examinersPage.totalPages > 1">
            <p class="list-group-item-text text-info">Pokaż wszystkich egzaminatorów</p>
        </a>
    </div>
</div>