<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-4" ng-include="'templates/student/test-groups/menu.html'"></div>
			<div class="col-lg-4" ng-include="'templates/student/dashboard/tests.html'"></div>
			<div class="col-lg-4" ng-include="'templates/student/dashboard/results.html'"></div>
		</div>
	</div>
</div>