<h2>Wyniki testów</h2>
<div class="bs-component">
    <ul class="list-group">
        <div ng-show="testAnswersPage.content.length == 0" class="list-group-item">
            <p class="list-group-item-text">
                Brak dostępnych wyników testów
            </p>
        </div>
        <a href="#/student/tests/{{testAnswer.test.id}}/results/points" ng-show="testAnswersPage.content.length > 0" ng-repeat="testAnswer in testAnswersPage.content" class="list-group-item" ng-class="{'not-active': !testAnswer.checked}">
            <h4 class="list-group-item-heading">
                {{testAnswer.test.name}}
            </h4>
            <div class="list-group-item-text">
                <p class="dashboard-group-title" ng-show="testAnswer.testGroup">
                    Grupa testowa: <strong>{{testAnswer.testGroup.name}}</strong>
                </p>
                <p class="dashboard-group-title" ng-show="testAnswer.testGroups">
                    Test jest dostępny w wielu grupach
                </p>
                <span>
                    Data rozpoczęcia: <strong>{{testAnswer.startedOn | date:'dd.MM.yyyy, HH:mm'}}</strong>
                    <br>
                    Czas wypełniania testu: <strong>{{testAnswer.timeSpent | secondsToString}}</strong>
                    <br ng-show="testAnswer.test.hasTimeLimit">
                    <span ng-show="testAnswer.test.hasTimeLimit">
                        Limit czas dla testu:
                    </span>
                    <strong ng-show="testAnswer.test.hasTimeLimit">
                        {{testAnswer.test.timeLimit | minutesToString}}
                    </strong>
                </span>
            </div>
            <div ng-switch on="testAnswer.checked" class="row text-center">
                <span ng-switch-when="false" class="test-result text-warning">
                    <strong>Oczekuje na sprawdzenie przez egzaminatora</strong>
                </span>
                <span ng-switch-when="true" class="test-result text-info">
                    <strong>Sprawdź wyniki dla tego testu</strong>
                </span>
            </div>
        </a>
        <a href="#/student/results" ng-show="testAnswersPage.totalPages > 1" class="list-group-item text-center">
            <p class="list-group-item-text text-info">Pokaż wszystkie wyniki testów</p>
        </a>
    </ul>
</div>