<h2>Najbliższe testy</h2>
<div class="bs-component">
    <div class="list-group">
        <div ng-show="testsPage.content.length == 0" class="list-group-item">
            <p class="list-group-item-text">
                Brak dostępnych testów do wypełnienia
            </p>
        </div>
        <a ng-show="testsPage.content.length > 0" href="#/student/test-groups/{{test.testGroupId}}/tests/{{test.id}}/take" class="list-group-item" ng-repeat="test in testsPage.content" ng-class="{'not-active': test.testStatus != 'active'}">
            <h4 class="list-group-item-heading">{{test.name}}</h4>
            <div class="list-group-item-text">
                <p class="dashboard-group-title" ng-show="test.testTestGroups.length == 1">
                    Grupa testowa: <strong>{{test.testGroup.name}}</strong>
                </p>
                <p class="dashboard-group-title" ng-show="test.testTestGroups.length > 1">
                    Test jest dostępny w wielu grupach
                </p>
                <span>
                    Dostępny od: <strong>{{test.activeFrom | date:'dd.MM.yyyy, HH:mm'}}</strong>
                    <br>
                    Aktywny przez: <strong>{{test.minutesActive | minutesToString}}</strong>
                </span>
                <span ng-show="test.hasTimeLimit">
                    <br>
                    Czas trwania testu:
                    <strong ng-show="test.hasTimeLimit">
                        {{test.timeLimit | minutesToString}}
                    </strong>
                    <strong ng-show="!test.hasTimeLimit">
                        nieograniczony
                    </strong>
                </span>
            </div>
            <p class="list-group-item-text">
                <span class="test-status-info">
                    Status testu:
                    <strong>
                        <span ng-switch on="test.testStatus">
                            <span class="text-warning" ng-switch-when="inactive">nieaktywny</span>
                            <span class="text-success" ng-switch-when="active">aktywny</span>
                            <span class="text-primary" ng-switch-when="finished">zakończony</span>
                        </span>
                    </strong>
                </span>
            </p>
        </a>
        <a ng-show="testsPage.totalPages > 1" href="#/student/tests" class="list-group-item text-center">
            <p class="list-group-item-text text-info">Pokaż wszystkie testy</p>
        </a>
    </div>
</div>