<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/examiner/test-groups/menu.html'"></div>
            <div class="col-lg-8">
                <h2>Wszystkie grupy</h2>
                <div class="bs-component">
                    <ul class="list-group">
                        <li ng-repeat="testGroup in testGroupsPage.content" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-7 vcenter">
                                    <h4 class="list-group-item-heading">
                                        {{testGroup.name}}
                                    </h4>
                                    <p class="list-group-item-text">
							            <span>
                                            Data utworzenia grupy:
                                            <strong>
                                                {{testGroup.createdDate | date:'dd.MM.yyyy, HH:mm'}}
                                            </strong>
                                            <br>
                                            Liczba przypisanych studentów:
                                            <strong>
                                                {{testGroup.studentTestGroups.length}}
                                            </strong>
                                            <br>
                                            Liczba powiązanych testów:
                                            <strong>
                                                {{testGroup.testTestGroups.length}}
                                            </strong>
                                        </span>
                                    </p>
                                </div><!--
                             --><div class="col-lg-5 vcenter text-center">
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/edit" class="btn btn-success group-options-button">
                                        Edytuj szczegóły
                                    </a>
                                    <a href="#/examiner/test-groups/{{testGroup.id}}/remove" class="btn btn-danger group-options-button">
                                        Usuń grupę
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-show="testGroupsPage.totalPages > 1">
                    <div class="col-lg-12 text-center">
                        <ul class="pagination">
                            <li ng-class="{'disabled': testGroupsPage.first}" >
                                <a href="#/examiner/test-groups" ng-click="getTestGroupPage(0)">&laquo;</a>
                            </li>
                            <li ng-repeat="pageNumber in [1, testGroupsPage.totalPages] | range" ng-class="{'active': pageNumber == (testGroupsPage.number + 1)}">
                                <a href="#/examiner/test-groups" ng-click="getTestGroupPage(pageNumber - 1)">{{pageNumber}}</a>
                            </li>
                            <li ng-class="{'disabled': testGroupsPage.last}">
                                <a href="#/examiner/test-groups" ng-click="getTestGroupPage(testGroupsPage.totalPages - 1)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>