<h2>Grupy egzaminacyjne</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center" ng-show="$parent.testGroupsPage.content.length == 0">
            Brak utworzonych grup testowych
        </div>
        <a ng-repeat="testGroup in $parent.testGroupsPage.content" href="#/examiner/test-groups/{{testGroup.id}}/edit" class="list-group-item" ng-class="{'active': testGroup.id == $parent.testGroup.id}">
            <span class="badge">
                {{testGroup.studentTestGroups.length}}
            </span>
            {{testGroup.name}}
        </a>
        <a href="#/examiner/test-groups" ng-show="$parent.testGroupsPage.totalPages > 1" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie grupy
            </p>
        </a>
        <a href="#/examiner/test-groups/add" class="list-group-item text-center">
            <p class="list-group-item-text text-success">
                Dodaj nową grupę
            </p>
        </a>
    </div>
</div>