<h2>Lista pytań</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>Lista pytań</strong>
        </div>
        <a href="#/student/tests/{{test.id}}/questions/{{questionSequence.sequence[index-1]}}/results" ng-repeat="index in [1, $parent.testAnswer.questionAnswerIds.length] | range" class="list-group-item" ng-class="{'active': index == $parent.questionPositionInSequence}">
            Pytanie {{index}}
        </a>
        <div ng-repeat="index in [$parent.testAnswer.questionAnswerIds.length + 1, $parent.questionSequence.sequence.length] | range" class="list-group-item disabled">
            Pytanie {{index}}
        </div>
    </div>
</div>