<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4" ng-include="'templates/student/results/questions/menu.html'"></div>
            <div class="col-lg-8">
                <h2>{{test.name}}</h2>
                <h3>
                    Pytanie {{questionPositionInSequence}}
                    <span ng-show="debugMode">
                        [p:{{question.position}}, id:{{question.id}}]
                    </span>
                </h3>
                <div class="row question-time-row">
                    <div class="col-lg-4 question-time-header">
                        Czas odpowiedzi na pytanie
                    </div>
                    <div class="col-lg-4 question-time-progress-row">
                        <div class="progress question-time-progress" ng-show="question.hasTimeLimit">
                            <div class="progress-bar" ng-class="questionAnswer.timeSpentBarClass" ng-style="questionAnswer.timeSpentBarStyle"></div>
                        </div>
                        <span ng-hide="question.hasTimeLimit">
                            brak limitu czasowego
                        </span>
                    </div>
                    <div class="col-lg-4 text-center question-time-spent">
                        <span ng-show="question.hasTimeLimit">
                            {{questionAnswer.timeSpentMinutes | minLength:2}}:{{questionAnswer.timeSpentSeconds | minLength:2}} min / {{question.timeLimitMinutes | minLength:2}}:{{question.timeLimitSeconds | minLength:2}} min
                        </span>
                        <span ng-hide="question.hasTimeLimit">
                            {{questionAnswer.timeSpentMinutes | minLength:2}}:{{questionAnswer.timeSpentSeconds | minLength:2}} min
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 question-points-header">
                        Liczba uzyskanych punktów
                    </div>
                    <div class="col-lg-4 question-points-progress-row">
                        <div class="progress">
                            <div class="progress-bar" ng-class="questionAnswer.pointsBarClass" ng-style="questionAnswer.pointsBarStyle"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center question-points-points">
                        <p ng-class="questionAnswer.textClass">
                            {{questionAnswer.points}} pkt. / {{question.maxPoints}} pkt. ({{questionAnswer.pointsPercentage}}%)
                        </p>
                    </div>
                </div>
                <div ng-switch on="question.type">
                    <div ng-switch-when="single-simple-choice">
                        <div ng-include="'templates/student/results/questions/single-choice.html'"></div>
                    </div>
                    <div ng-switch-when="single-complex-choice">
                        <div ng-include="'templates/student/results/questions/single-choice.html'"></div>
                    </div>
                    <div ng-switch-when="multiple-simple-choice">
                        <div ng-include="'templates/student/results/questions/multiple-choice.html'"></div>
                    </div>
                    <div ng-switch-when="multiple-complex-choice">
                        <div ng-include="'templates/student/results/questions/multiple-choice.html'"></div>
                    </div>
                    <div ng-switch-when="join">
                        <div ng-include="'templates/student/results/questions/join.html'"></div>
                    </div>
                    <div ng-switch-when="freetext">
                        <div ng-include="'templates/student/results/questions/freetext.html'"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#/student/tests/{{test.id}}/results/points" class="btn btn-primary group-options-button">
                            Powrót do wyników testu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>