<h2>Wyniki testów</h2>
<div class="bs-component">
    <div class="list-group">
        <div class="list-group-item text-center">
            <strong>{{$parent.testGroup.name}}</strong>
        </div>
        <div class="list-group-item text-center" ng-show="$parent.testAnswersPage.content.length == 0">
            Brak wyników testów w wybranej grupie
        </div>
        <a ng-repeat="testAnswer in $parent.testAnswersPage.content" href="#/student/tests/{{testAnswer.test.id}}/results/points" class="list-group-item" ng-class="{'active': testAnswer.id == $parent.testAnswer.id}">
            {{testAnswer.test.name}}
        </a>
        <a ng-show="$parent.testAnswersPage.content.totalPages > 1" href="#/student/test-groups/{{testGroup.id}}/results" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Pokaż wszystkie wyniki z wybranej grupy
            </p>
        </a>
        <a href="#/student/test-groups/{{testGroup.id}}/details" class="list-group-item text-center">
            <p class="list-group-item-text text-info">
                Powrót do strony grupy
            </p>
        </a>
    </div>
</div>